$font-code: FixedSysTrue, Consolas, monospace;

$font-latin: PerfectDOS, FixedSysTrue, monospace;
$font-cyrillic: FixedSysTrue, monospace;
$font-japanese: PerfectDOS, FixedSysTrue, "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, Osaka,
    "MS PGothic", monospace;
$font-chinese-simplified: PerfectDOS, FixedSysTrue, "Microsoft YaHei New", 微软雅黑, "Microsoft Yahei", "Microsoft JhengHei", 宋体, SimSun,
    monospace;
$font-chinese-traditional: PerfectDOS, FixedSysTrue, "Microsoft JhengHei", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft YaHei", 微軟雅黑,
    宋体, SimSun, monospace;
$font-korean: PerfectDOS, FixedSysTrue, "Apple SD Gothic Neo", NanumBarunGothic, "맑은 고딕", "Malgun Gothic", Gulim, 굴림, Dotum, 돋움, monospace;
