@font-face {
    font-family: "FixedSysTrue";
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    src: url("https://saltssaumure.github.io/pios-discord-theme/font/FixedSysTrue.ttf");
}

@font-face {
    font-family: "PerfectDOS";
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    src: url("https://saltssaumure.github.io/pios-discord-theme/font/PerfectDosVga.ttf");
}

:lang(bg), :lang(el), :lang(ru), :lang(uk) {
    --font-display: FixedSysTrue, monospace;    // For server and channel title
    --font-primary: FixedSysTrue, monospace;    // For almost everything else
    --font-headline: FixedSysTrue, monospace;   // For discord ads
}

:root {
    // RadialStatus
    --rs-small-spacing: 0px; // Gap between avatar and status for members list/dms | MUST end in px
    --rs-medium-spacing: 0px; // Gap between avatar and status for User popout | MUST end in px
    --rs-large-spacing: 0px; // Gap between avatar and status for User profiles | MUST end in px
    --rs-small-width: 2px; // Thickness of status border for members list/dms | MUST end in px
    --rs-medium-width: 3px; // Thickness of status border for User popout | MUST end in px
    --rs-large-width: 4px; // Thickness of status border for User profile | MUST end in px
    --rs-avatar-shape: 0%; // 50% for round - 0% for square
    --rs-online-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%); // Colour for online status
    --rs-idle-color: hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%); // Colour for idle status
    --rs-dnd-color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%); // Colour for dnd status
    --rs-offline-color: hsl(214, calc(var(--saturation-factor, 1) * 9.9%), 50.4%); // Colour for offline status
    --rs-streaming-color: hsl(262, calc(var(--saturation-factor, 1) * 46.8%), 39.8%); // Colour for streaming status
    --rs-invisible-color: var(--rs-offline-color); // Colour for invisible status - Note: this will only show for your own invisibility
    --rs-phone-color: var(--rs-online-color); // Colour of the ring and phone icon when a user is on their phone |
    --rs-phone-visible: none; // Visibility of the phone icon next to a users avatar. | block = visible | none = hidden
}

// Warn users in light mode
.theme-light #piOS\ Forever-card .bd-description::after {
    content: " Switch to dark mode to see effects.";
    font-weight: 700;
}

// Override Discord variables: kebab-case
// Self-defined variables: camelCase
// User-definable variables: kebab-case

.theme-dark,
.layerContainer-2v_Sit .theme-light // Modals that use theme-light while in dark mode
{
    // Set customisable colour scheme
    --piOSaccenthue:  var(--accent-color, 0); // default: 0 (red)
    --piOSaccent:     hsl(var(--piOSaccenthue), calc(var(--saturation-factor)*100%), 50%);
    --piOSwhite:    white;
    --piOSlightgrey:lightgrey;
    --piOSgrey:     grey;
    --piOSblack:    black;

    // Set default fonts
    --font-display: PerfectDOS, monospace;  // For server and channel title
    --font-primary: PerfectDOS, monospace;  // For almost everything else
    --font-headline: PerfectDOS, monospace; // For discord ads
    --font-code:    "FixedSysTrue", monospace; // Code blocks
    letter-spacing: -0.04rem;

    // Borders
    --borderColor:          var(--piOSgrey);
    --borderCodeColor:      var(--piOSwhite);
    --borderBrightColor:    var(--piOSwhite);
    --thickBorder: 2px 5px;
    --thinBorder:  1px 3px;

    // Text colours
    --header-primary:           var(--piOSwhite); // Server name, channel name, default user colour
    --header-secondary:         var(--piOSgrey);
    --text-normal:              var(--piOSwhite);
    --text-muted:               var(--piOSgrey);
    --text-link:                var(--piOSwhite);
    --text-link-low-saturation: var(--piOSwhite);
    --text-positive:            var(--piOSwhite);
    --text-warning:             var(--piOSwhite);
    --text-danger:              var(--piOSaccent);
    --text-brand:               hsl(var(--piOSaccenthue), calc(var(--saturation-factor)*80%), 50%);
    --interactive-normal:       var(--piOSlightgrey);
    --interactive-muted:        var(--piOSgrey);
    --interactive-active:       var(--piOSwhite); // default: unread dot marker, current channel name

    // Backgrounds
    --background-primary:       var(--piOSblack);
    --background-secondary:     var(--piOSblack);
    --background-secondary-alt: var(--piOSblack);
    --background-tertiary:      var(--piOSblack);
    --background-mobile-primary:    var(--piOSblack);
    --background-mobile-secondary:  var(--piOSblack);
    --background-accent:        var(--piOSaccent);
    --background-floating:      var(--piOSblack);
    --background-mentioned:     hsla(var(--piOSaccenthue), calc(var(--saturation-factor)*100%), 50%, 0.2);
    --backgroundEmbed:          hsla(var(--piOSaccenthue), calc(var(--saturation-factor)*100%), 50%, 0.3);
    --channeltextarea-background:   transparent;
    --input-background:         var(--background-modifier-hover);
    --deprecated-card-bg:       var(--background-modifier-hover);
    --button-danger-background:         var(--background-modifier-active);
    --button-danger-background-hover:   var(--background-accent);
    --button-danger-background-active:  var(--background-accent);
    --button-positive-background:           var(--background-modifier-active);
    --button-positive-background-hover:     var(--background-accent);
    --button-positive-background-active:    var(--background-accent);
    --button-outline-positive-text:                 var(--piOSwhite);
    --button-outline-positive-text-hover:           var(--piOSwhite);
    --button-outline-positive-text-active:          var(--piOSwhite);
    --button-outline-positive-background-hover:     var(--background-modifier-selected);
    --button-outline-positive-background-active:    var(--background-modifier-selected);
    --button-outline-positive-border:           var(--piOSaccent);
    --button-outline-positive-border-hover:     var(--piOSaccent);
    --button-outline-positive-border-active:    var(--piOSaccent);
    --button-outline-danger-text:               var(--piOSwhite);
    --button-outline-danger-text-hover:         var(--piOSwhite);
    --button-outline-danger-border:             var(--piOSaccent);
    --button-outline-danger-background-hover:   var(--background-modifier-active);
    --button-outline-danger-background-active:  var(--background-accent);
    --button-outline-danger-border-hover:       var(--background-modifier-active);
    --button-outline-danger-border-active:      var(--background-accent);
    --button-secondary-background:          var(--piOSblack);
    --button-secondary-background-hover:    var(--background-modifier-hover);
    --button-secondary-background-active:   var(--background-modifier-active);
    --background-modifier-hover:    hsla(var(--piOSaccenthue), calc(var(--saturation-factor)*100%), 50%, 0.2);
    --background-modifier-active:   hsla(var(--piOSaccenthue), calc(var(--saturation-factor)*100%), 50%, 0.7);
    --background-modifier-selected: hsla(var(--piOSaccenthue), calc(var(--saturation-factor)*100%), 50%, 0.3);
    --background-modifier-accent:   transparent;

    // Scrollbars
    --scrollbar-thin-thumb: var(--piOSaccent);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: var(--piOSaccent);
    --scrollbar-auto-track: transparent;
    --scrollbar-auto-scrollbar-color-thumb: var(--piOSaccent);
    --scrollbar-auto-scrollbar-color-track: transparent;

    // Drop shadows
    --elevation-stroke: transparent;
    --elevation-low:    transparent;
    --elevation-medium: transparent;
    --elevation-high:   transparent;

    // Search
    --search-popout-option-fade:        linear-gradient(90deg, transparent, var(--piOSblack) 80%); // Fading effect after search options
    --search-popout-option-fade-hover:  linear-gradient(90deg, transparent, var(--piOSblack) 50%);
    // --search-popout-option-filter-text: var(--piOSgrey);
    --search-popout-option-non-text-color: var(--piOSgrey);
    //--search-popout-option-filter-color:    var(--piOSgrey);
    --search-popout-option-answer-color:    var(--piOSgrey);
    --search-popout-date-picker-border:     var(--piOSgrey);
    // As of 8th Apr 2022, these variables do nothing
    --search-popout-date-picker-hint-text:  var(--piOSgrey);
    --search-popout-date-picker-hint-value-text:                var(--piOSwhite);
    --search-popout-date-picker-hint-value-background:          var(--background-modifier-hover);
    --search-popout-date-picker-hint-value-background-hover:    var(--background-modifier-selected);
    --deprecated-text-input-border-disabled: var(--borderColor); // for some reason used by day box borders

    // Misc parts
    --status-danger: var(--piOSaccent); // Servers sidebar notification counter background
    --divider-color: hsl(0, calc(var(--saturation-factor)*100%), 50%); // color of new messages divider
    --info-warning-foreground: hsl(0, calc(var(--saturation-factor)*100%), 50%); // colour of @ping message left side indicator
    --spoilerGradient: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 4px,
        rgba(0, 255, 255, 0.2) 2px,
        rgba(0, 255, 255, 0.2) 6px
    ); // Spoiler stripe pattern
    --glowIntensity: var(--glow-intensity, 1);
    --true-compact-message-spacing: var(--compact-message-spacing, 1); // Space between messages in compact mode, user adjustable
    --focus-primary: hsl(
        calc(var(--piOSaccenthue) + 180),
        calc(var(--saturation-factor) * 100%),
        50%
    ); // Focus ring when navigating by keyboard
    --info-warning-foreground: var(--piOSaccent); // Mentioned message left bar
}

// Keep Custom CSS editor and code related parts untouched.
// Avoids issues when working with the Custom CSS editor.
#bd-customcss-detach-container.hljs,
#bd-customcss-detach-container.inline,
#bd-customcss-detach-container.hljs :-webkit-any(ol, li, span),
.editor-wrapper :-webkit-any(textarea, div, span) {
    font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro",
        monospace;
    text-transform: none;
    text-shadow: none;
}