@use "part/bd";
@use "part/button";
@use "part/clyde";
@use "part/glow";
@use "part/scanline";
@use "part/spoiler";
@use "part/text";

// Notification counter
.numberBadge-37OJ3S {
    padding: 2px 0 0 2px;
    width: 18px !important;
}

// discord friends tab: for some reason not currently using a variable
.theme-dark .container-2cd8Mz {
    background-color: var(--background-primary);
}

// Checkboxes
.theme-dark .checkbox-f1HnKB.checked-1pZh2h {
    border-color: var(--piOSwhite) !important;
    color: var(--piOSwhite);
    background: transparent !important;
}

.theme-dark .checkbox-f1HnKB.checked-1pZh2h path {
    fill: currentColor;
}

.theme-dark .checkbox-1LuCGM.checked-22NTbO {
    background: var(--piOSaccent) !important;
    border-color: var(--piOSaccent) !important;
}

// Star for verified
.flowerStar-2tNFCR path {
    fill: var(--background-modifier-active);
}