@use "../../border" as bd;

// Popovers
.contentWrapper_af5dbb,
// Emoji picker for reactions
.contentWrapper_eab878,
// Smallish popover menus
.menu_d90b3d,
// User profile popovers
.userProfileOuter_c69a7b,
// Pinned messages
.messagesPopoutWrap_ac90a2,
// Inbox
.recentMentionsPopout_ddb5b4,
// Threads
.browser_f542fc,
// Stream picture-in-picture
.pictureInPictureVideo_cadaa5,
// Tag filter in forums
.container_ae4f46 {
    @include bd.border(thick, bright);
}
