// ---- Typing channel/user/command/etc. autocomplete popover ----
.theme-dark .autocomplete-3NRXG8 {
    background: var(--piOSblack);
    border: solid var(--borderColor);
    border-width: var(--thinBorder);
}