@use "../../top/vars" as *;
@use "../../top/border" as bd;
@use "../../top/hsla";

// ---- Inbox popover ----
// Channel info
.channelHeader__5d30c {
    border-bottom: 2px dashed $border-color-normal;
}

// Inbox message containers
.messageContainer_aa7d14 {
    padding: 0;
}

.messages_f7999e {
    padding: 16px 0 0 0;
}

// Remove "replied to" in inbox due to space constraint
.container__56e52 .compact__54ecc .repliedMessage_e2bf4a,
.container__20de0 .compact__54ecc .repliedMessage_e2bf4a {
    display: none;
}

// filter gets box border (not sure what this does anymore)
.menu_dc52c6 {
    @include bd.border(thick);
}

// "Mark Inbox as read", "Notifications", "Mark as read", Jump buttons
.primary_f0f61f:hover:not(.disabled__8e315),
.secondary_c96c46,
.tertiary_bc0225,
.jumpButton_da1ebb {
    background-color: hsla.default($accent-hue, 0.3);
}

.secondary_c96c46:hover:not(.disabled__8e315),
.tertiary_bc0225:hover:not(.disabled__8e315) {
    background-color: hsla.default($accent-hue, 0.7);
}
