@use "../../top/vars" as *;
@use "../../top/border" as bd;
@use "../../top/hsla";

// ---- Inbox popover ----
// Channel info
.channelHeader-DFRX8q {
    border-bottom: 2px dashed $border-color-normal;
}

// Inbox message containers
.messageContainer-3VTXBC {
    padding: 0;
}

.messages-23can0 {
    padding: 16px 0 0 0;
}

// Remove "replied to" in inbox due to space constraint
.container-iA3Qrz .compact-2Nkcau .repliedMessage-3Z6XBG,
.container-2ebMPP .compact-2Nkcau .repliedMessage-3Z6XBG {
    display: none;
}

// filter gets box border (not sure what this does anymore)
.menu-1QACrS {
    @include bd.border(thick);
}

// "Mark Inbox as read", "Notifications", "Mark as read", Jump buttons
.primary-38Hs-h:hover:not(.disabled-184-il),
.secondary-2bzKEX,
.tertiary-1e-lAP,
.jumpButton-1V_1FA {
    background-color: hsla.default($accent-hue, 0.3);
}

.secondary-2bzKEX:hover:not(.disabled-184-il),
.tertiary-1e-lAP:hover:not(.disabled-184-il) {
    background-color: hsla.default($accent-hue, 0.7);
}
