@use "../../vars" as *;
@use "../../hsla";

// ---- General menu popover ----
// Option in menu when hovered
.colorDefault_d90b3d {
    &.focused_d90b3d {
        background-color: hsla.default($accent-hue, 0.2);
    }
    &:active:not(.hideInteraction_d90b3d) {
        background-color: hsla.default($accent-hue, 0.7);
    }
    .checkbox_d90b3d,
    .radioSelection_d90b3d {
        color: $accent-color;
    }
}
// Menu slider bar
.barFill_c7a159 {
    background: $accent-color;
}
// Menu selected option checkbox
.activeIcon_e1268c path {
    fill: $accent-color;
}

// Nonstandard option
.customLabelContainer_b6bf2d {
    &:hover {
        background: hsla.default($accent-hue, 0.2);
    }
    &:active {
        background: hsla.default($accent-hue, 0.7);
    }
}
