@use "../../top/vars" as *;
@use "../../top/hsla";

// ---- Message options popover ----
// Hovered normal option
.colorDefault-CDqZdO.focused-3qFvc8 {
    background-color: hsla.default($accent-hue, 0.2);
}

// Hovered danger option
.colorDanger-3n-KnP.focused-3qFvc8 {
    background-color: hsla.default($accent-hue, 0.7);
}

// Clicked option
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
    background-color: hsla.default($accent-hue, 0.7);
}
