@use "../../vars" as *;
@use "../../hsla";

// ---- Message options popover ----
// Hovered normal option
.colorDefault_d90b3d.focused_d90b3d {
    background-color: hsla.default($accent-hue, 0.2);
}

// Hovered danger option
.colorDanger_d90b3d.focused_d90b3d {
    background-color: hsla.default($accent-hue, 0.7);
}

// Clicked option
.colorDefault_d90b3d:active:not(.hideInteraction_d90b3d) {
    background-color: hsla.default($accent-hue, 0.7);
}
