@use "../../top/vars" as *;
@use "../../top/hsla";

// ---- Message options popover ----
// Hovered normal option
.colorDefault__0b482.focused__27621 {
    background-color: hsla.default($accent-hue, 0.2);
}

// Hovered danger option
.colorDanger_eec36d.focused__27621 {
    background-color: hsla.default($accent-hue, 0.7);
}

// Clicked option
.colorDefault__0b482:active:not(.hideInteraction__2790e) {
    background-color: hsla.default($accent-hue, 0.7);
}
