@use "../../vars" as *;
@use "../../border" as bd;
@use "../../hsla";

// Search bar filters
.appMount_ea7e65 .searchFilter_b0fa94 {
    background-color: hsla.default($accent-hue, 0.7);
}

.appMount_ea7e65 .searchAnswer_b0fa94 {
    background-color: hsla.default($accent-hue, 0.3);
}

// Search suggestion box
.appMount_ea7e65 .container_eedf95 {
    background: $background-color;
    @include bd.border(thin, bright);
}

.appMount_ea7e65 .calendarPicker__47c85 {
    @include bd.border(thin);

    .react-datepicker,
    .react-datepicker__header,
    .react-datepicker__navigation.react-datepicker__navigation--previous,
    .react-datepicker__day--disabled,
    .react-datepicker__day--outside-month,
    .react-datepicker__day.react-datepicker__day--disabled,
    .react-datepicker__day.react-datepicker__day--disabled:hover {
        background-color: $background-color;
        color: $dim-color;
    }

    .react-datepicker__day .react-datepicker__day--keyboard-selected,
    .react-datepicker__day.react-datepicker__day--selected:hover,
    .react-datepicker__day:hover {
        background-color: hsla.default($accent-hue, 0.2);
    }

    .react-datepicker__day.react-datepicker__day--selected:after {
        background: $accent-color;
    }

    // Next/previous month buttons
    .react-datepicker__navigation.react-datepicker__navigation--next,
    .react-datepicker__navigation.react-datepicker__navigation--previous {
        border-color: $border-color-normal;
    }

    // Last column
    .react-datepicker__week .react-datepicker__day:last-of-type {
        border-right-color: $border-color-normal;
    }

    // Last row
    .react-datepicker__week:last-of-type .react-datepicker__day {
        border-bottom-color: $border-color-normal;
    }
}
