// ---- User profile popover ----
// User profile picture
.wrapper-1VLyxH {
    border-width: 0;
}

// View profile hint
.avatarHint-k7pYop {
    top: 0;
    left: 0;
}

// about me ```code``` from inline to block
.aboutMeBody-1J8rhz code.inline {
    display: block;
    margin: 0;
    margin-bottom: -1.2em;
}

// User roles
.role-2TIOKu {
    border-style: solid;
    border-width: var(--thinBorder);
}