@use "../../vars" as *;
@use "../../border" as bd;

// Modals
.appMount_ea7e65 .root_f9a4c9 {
    @include bd.border(thick $bright-color);
    background-color: $background-color;
    box-shadow: 0 0 30px 0 $dim-color;
}

// Footer
.appMount_ea7e65 .footer_f9a4c9 {
    background-color: $background-color;
    box-shadow: none;
    border-top: 2px dashed $border-color-normal;
}
