// Delete message confirmation modal
// Message view
.theme-dark .message-G6O-Wv {
    background-color: var(--piOSblack);
    box-shadow: none;
    border: solid var(--borderColor);
    border-width: var(--thickBorder);
}