@use "../../vars" as *;
@use "../../border" as bd;
@use "../../hsla";

// Event and new event modal
// Event card
.appMount_ea7e65 .previewCard_f9a98f,
.card_cc2c09 {
    @include bd.border(thin);
}

// Event cover image
.imageUploaderInner_de76e4 {
    background-color: hsla.default($accent-hue, 0.2);
}

.avatarUploadIcon_e9b3be.hideDefaultIcon_e9b3be {
    background-color: hsla.default($accent-hue, 0.7);
}

.imageUploaderIcon_de76e4 path {
    fill: $bright-color;
}

.eventStatusGreen__4f804 {
    color: $accent-color;
}
