@use "../../top/vars" as *;
@use "../../top/border" as bd;
@use "../../top/hsla";

// Event and new event modal
// Event card
.appMount-2yBXZl .previewCard-E137i2,
.card-8UsK4b {
    @include bd.border(thin);
}

// Event cover image
.imageUploaderInner-IIRaFr {
    background-color: hsla.default($accent-hue, 0.2);
}

.avatarUploadIcon-34ohJq.hideDefaultIcon-Z9-iXK {
    background-color: hsla.default($accent-hue, 0.7);
}

.imageUploaderIcon-2OHmFu path {
    fill: $bright-color;
}

.eventStatusGreen-2-f2N8 {
    color: $accent-color;
}
