@forward "./changeusername";
@forward "./deletemessage";
@forward "./event";
@forward "./imageupload";
@forward "./invitefriends";
@forward "./phonenumber";
@forward "./uploadfile";

@use "../../top/vars" as *;
@use "../../top/border" as bd;

// Modals
.appMount_fae9dd .root_a28985 {
    @include bd.border(thick $bright-color);
    background-color: $background-color;
    box-shadow: 0 0 30px 0 $dim-color;
}

// Footer
.appMount_fae9dd .footer__89240 {
    background-color: $background-color;
    box-shadow: none;
    border-top: 2px dashed $border-color-normal;
}
