@use "../../vars" as *;
@use "../../hsla";

// ---- Invite friends to server modal ----
// Copy url
.copyInput_cedfaf .input_f8bc55 {
    background: transparent;
}

// Invite link settings
// Selected item icon
.selectedIcon_f6639d {
    color: $dim-color;
}

// Search bar
.container__33507 {
    background-color: #{hsla.default($accent-hue, 0.2)};
}

// Search results
.appMount_ea7e65 .inviteRow_cedfaf:hover {
    background: hsla.default($accent-hue, 0.2);
}

// "Invite" button
.inviteRowButton_cedfaf {
    padding: 2px;
}
