@use "../vars" as *;
@use "../hsla";

// Notification counter
.numberBadge__40d6f {
    padding: 2px 0 0 2px;
    width: 18px !important;
}

// discord friends tab: for some reason not currently using a variable
.appMount_ea7e65 .container_c2739c {
    background-color: $background-color;
}

// Checkboxes
.appMount_ea7e65 .checkbox_f6cde8.checked_f6cde8 {
    border-color: $bright-color !important;
    color: $bright-color;
    background: transparent !important;
}

.appMount_ea7e65 .checkbox_f6cde8.checked_f6cde8 path {
    fill: currentColor;
}

.appMount_ea7e65 .checkbox_f6cde8.checked_f6cde8 {
    background: $accent-color !important;
    border-color: $accent-color !important;
}

// Star for verified
.flowerStar_ff7d90 path {
    fill: hsla.default($accent-hue, 0.7);
}
