// BetterDiscord toasts
.bd-toasts {
    align-items: flex-end;
    right: 0;
}

.bd-toast {
    border: solid var(--borderColor);
    border-width: var(--thinBorder);
    margin-right: 24px;
    background-color: hsla(0, 0%, 0%, 0.7);
}

.bd-toast.toast-success {
    background-color: var(--background-modifier-active);
}

// BetterDiscord error modal
.bd-error-modal-header {
    padding: 16px;
}