@use "../vars" as *;
@use "../hsla";

// Filled button with discord blue background
.lookFilled_dd4f85.colorBrand_dd4f85 {
    background: $accent-color;

    &:hover {
        background: $accent-color;
    }
}

// Buttons
.lookFilled_dd4f85.colorBrand_dd4f85,
.lookFilled_dd4f85.colorBrand_dd4f85:disabled,
.lookFilled_dd4f85.colorPrimary_dd4f85,
.lookFilled_dd4f85.colorBrandNew__8872c {
    background-color: hsla.default($accent-hue, 0.3);
}

.lookFilled_dd4f85.colorBrand_dd4f85:hover,
.lookFilled_dd4f85.colorPrimary_dd4f85:hover,
.lookFilled_dd4f85.colorBrandNew__8872c:hover {
    background-color: hsla.default($accent-hue, 0.7);
}

.lookFilled_dd4f85.colorBrand_dd4f85:active,
.lookFilled_dd4f85.colorPrimary_dd4f85:active,
.lookFilled_dd4f85.colorBrandNew__8872c:active {
    background-color: $accent-color;
}

// Green buttons
.lookOutlined_dd4f85.colorGreen_dd4f85 {
    background-color: hsla.default($accent-hue, 0.2);
}

// Red buttons
.lookFilled_dd4f85.colorRed_dd4f85 {
    background: $accent-color;
}

// Dangerous buttons when hovered
.button_ef319f.dangerous_ef319f:hover {
    color: $bright-color;
}
