@use "../vars" as *;
@use "../hsla";

// Messages from Clyde now appear as SYSTEM
.compact_f9f2ca.wrapper_f9f2ca.ephemeral_d5deea,
.cozyMessage_d5deea.wrapper_f9f2ca.ephemeral_d5deea,
.message_d5deea.ephemeral_d5deea.selected_d5deea,
.mouse-mode.full-motion .ephemeral_d5deea:hover {
    border-color: hsla.default($accent-hue, 0.7);
    background-color: transparent;
}

// No left bar
.ephemeral_d5deea:before {
    display: none;
}

// Change popout banner
[aria-label="Clyde"] .popoutBanner_c3e427 {
    background-color: $background-color !important;
}

// Change avatar
.ephemeral_d5deea .avatar_f9f2ca {
    filter: contrast(2) saturate(100) invert(1);
}

.full-motion .avatar_f9f2ca.clickable_f9f2ca:hover {
    filter: hue-rotate(130deg) contrast(2) saturate(100);
}

// Change name
.ephemeral_d5deea .username_f9f2ca {
    visibility: hidden;
    padding-right: 0.5rem;
}

.ephemeral_d5deea .username_f9f2ca::after {
    visibility: visible;
    content: "SYSTEM";
    display: block;
    color: $clyde-color;
    position: absolute;
    top: -0.15rem;
    left: 0;
    background: linear-gradient(transparent, $background-color 40%, transparent 60%);
}

.ephemeral_d5deea .username_f9f2ca:hover::after {
    text-decoration: underline;
}

// Totally not a bot
.ephemeral_d5deea .botTag_f9f2ca {
    display: none;
}

// Timestamp
.ephemeral_d5deea .timestamp_f9f2ca,
.ephemeral_d5deea .timestamp_f9f2ca.alt_f9f2ca {
    color: $clyde-color-dim;
}

// Content
.ephemeral_d5deea .markup_f8f345 {
    color: $clyde-color;
    text-shadow:
        2px 0 10px $clyde-color,
        -2px 0 10px $clyde-color;
    text-transform: uppercase;

    code {
        text-transform: none;
    }
}

// Dismiss message box
.ephemeralMessage_cabade {
    color: $clyde-color-dim;
    font-size: 100%;
    text-transform: uppercase;
}

.compact_f9f2ca .ephemeralMessage_cabade {
    position: absolute;
    right: 0;
    background: linear-gradient(transparent, $background-color 50%, transparent 70%);
    bottom: -1.1rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.ephemeralMessage_cabade .anchor_af404b {
    color: $clyde-color;
}
