@import url("https://minidiscordthemes.github.io/CRT/crt.min.css");

// See https://github.com/MiniDiscordThemes/CRT/blob/main/README.md#customisation for customisation settings.
:root {
    --crt-height: 9999;
    --crt-size: 4px;

    --crt-stripe: block;
    --crt-stripe-light-color: rgba(255, 255, 255, 0.1);
    --crt-stripe-dark-color: rgba(0, 0, 0, 0.1);

    // ⛐ This effect is performance-intensive.
    --crt-scanline: none;
    --crt-scanline-speed: 3s;
    --crt-scanline-color: rgba(0, 0, 0, 0.5);
    --crt-scanline-direction: normal;

    // ⚠ This is a fast flickering effect and may not be suitable for those with photosensitive epilepsy.
    --crt-flicker: none;
    --crt-flicker-speed: calc(1s / 30);
    --crt-flicker-color: rgba(0, 0, 0, 0.1);
}
