@use "../vars" as *;
@use "../glow";

// Chat content text glow
.markup_f8f345 {
    text-shadow:
        2px 0 10px $glow-color,
        -2px 0 10px $glow-color;
}

.repliedTextContent_f9f2ca.markup_f8f345,
.edited_f9f2ca,
.markup_f8f345 code.hljs,
.markup_f8f345 code.inline,
.timestamp__28d64,
.timestamp_f9f2ca,
.timestampInline_f9f2ca,
.threadMessageAccessoryPreview_f9f2ca .markup_f8f345 {
    text-shadow: none;
}

// Hyperlinks
.markup_f8f345 a {
    @include glow.text(20px);
}

// Role pings, pin/join/thread alert messages, selected text
.wrapper_bf1b19,
.content_e62b38,
::selection {
    @include glow.text(10px);
}

// Member list usernames with role colours
.username_a31c43 {
    @include glow.text(5px);
}

// Special overrides
// Superhot Team
span[style="color: rgb(196, 0, 0);"] {
    @include glow.text(20px, rgba(255, 0, 0, 0.5));
}

// SuperBOT
span[style="color: rgb(1, 1, 1);"] {
    @include glow.text(20px, rgba(0, 200, 255, 0.5));
}

// Status glow
.wrapper_c51b4e {
    @include glow.status(#23a55a, 139, 47.3%, 43.9%);
    @include glow.status(#f0b232, 38, 95.7%, 54.1%);
    @include glow.status(#f23f43, 359, 82.6%, 59.4%);
    @include glow.status(#593695, 262, 46.8%, 39.8%);
}

// Do not clip chat content glow
.zalgo_f9f2ca .messageContent_f9f2ca {
    overflow: visible;
}

// Boosts bar
.progressBarContainer_c75f85 {
    box-shadow: 0 0 10px $glow-color;
}
