@use "../top/vars" as *;
@use "../top/glow";

// Chat content text glow
.markup_a7e664 {
    text-shadow:
        2px 0 10px $glow-color,
        -2px 0 10px $glow-color;
}

.repliedTextContent__75526.markup_a7e664,
.edited_b20dd9,
.markup_a7e664 code.hljs,
.markup_a7e664 code.inline,
.timestamp_c6898e,
.timestamp_cdbd93,
.timestampInline__470e0,
.threadMessageAccessoryPreview__22a00 .markup_a7e664 {
    text-shadow: none;
}

// Channel and user pings, hyperlinks
.appMount_fae9dd .mention,
.markup_a7e664 a {
    @include glow.text(20px);
}

// Role pings, pin/join/thread alert messages, selected text
.appMount_fae9dd .mention.roleMention__02469,
.content__72fdc,
::selection {
    @include glow.text(10px);
}

// Member list usernames with role colours
.username_d272d6 {
    @include glow.text(5px);
}

// Special overrides
// Superhot Team
span[style="color: rgb(196, 0, 0);"] {
    @include glow.text(20px, rgba(255, 0, 0, 0.5));
}

// SuperBOT
span[style="color: rgb(1, 1, 1);"] {
    @include glow.text(20px, rgba(0, 200, 255, 0.5));
}

// Status glow
.wrapper_edb6e0 {
    @include glow.status(#23a55a, 139, 47.3%, 43.9%);
    @include glow.status(#f0b232, 38, 95.7%, 54.1%);
    @include glow.status(#f23f43, 359, 82.6%, 59.4%);
    @include glow.status(#593695, 262, 46.8%, 39.8%);
}

// Do not clip chat content glow
.zalgo__39311 .messageContent__21e69 {
    overflow: visible;
}

// Boosts bar
.progressBarContainer__9b571 {
    box-shadow: 0 0 10px $glow-color;
}
