@import url("https://minidiscordthemes.github.io/Squared/sq.min.css");
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");
@import url("https://minidiscordthemes.github.io/CRT/crt.min.css");

// RadialStatus: If phone display on
#app-mount .wrapper__3ed10 foreignObject[mask*="mobile"]:after {
    top: unset;
    transform: unset;
    bottom: 2px;
    right: 14px;
}
