@forward "./button";
@forward "./clyde";
@forward "./css-vars";
@forward "./glow";
@forward "./spoiler";
@forward "./text";

@use "../top/vars" as *;
@use "../top/hsla";

// Notification counter
.numberBadge-37OJ3S {
    padding: 2px 0 0 2px;
    width: 18px !important;
}

// discord friends tab: for some reason not currently using a variable
.appMount-2yBXZl .container-2cd8Mz {
    background-color: $background-color;
}

// Checkboxes
.appMount-2yBXZl .checkbox-f1HnKB.checked-1pZh2h {
    border-color: $bright-color !important;
    color: $bright-color;
    background: transparent !important;
}

.appMount-2yBXZl .checkbox-f1HnKB.checked-1pZh2h path {
    fill: currentColor;
}

.appMount-2yBXZl .checkbox-1LuCGM.checked-22NTbO {
    background: $accent-color !important;
    border-color: $accent-color !important;
}

// Star for verified
.flowerStar-2tNFCR path {
    fill: hsla.default($accent-hue, 0.7);
}
