@forward "./button";
@forward "./clyde";
@forward "./css-vars";
@forward "./glow";
@forward "./spoiler";
@forward "./text";

@use "../top/vars" as *;
@use "../top/hsla";

// Notification counter
.numberBadge__50328 {
    padding: 2px 0 0 2px;
    width: 18px !important;
}

// discord friends tab: for some reason not currently using a variable
.appMount_fae9dd .container__5c7e7 {
    background-color: $background-color;
}

// Checkboxes
.appMount_fae9dd .checkbox_c7f690.checked__24ad6 {
    border-color: $bright-color !important;
    color: $bright-color;
    background: transparent !important;
}

.appMount_fae9dd .checkbox_c7f690.checked__24ad6 path {
    fill: currentColor;
}

.appMount_fae9dd .checkbox_c7f690.checked__24ad6 {
    background: $accent-color !important;
    border-color: $accent-color !important;
}

// Star for verified
.flowerStar_a9981e path {
    fill: hsla.default($accent-hue, 0.7);
}
