// CRT scanline overlay
body::before {
    content: "";
    display: var(--crt-overlay, block);
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05) 50%,
            rgba(0, 0, 0, 0.1) 50%);
    background-size: 100% 4px;
    z-index: 9999;
    pointer-events: none;
    animation: var(--crt-flicker, none) 0.2s infinite alternate;
}

body::after {
    content: "";
    display: var(--crt-scanline, none);
    width: 100vw;
    height: 4px;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            transparent);
    z-index: 9998;
    pointer-events: none;
    top: 0%;
    animation: scanline 3s linear infinite;
}

.layerContainer-2lfOPe:has(.wrapper-rWtXPd) {
    z-index: 10000;
}

@keyframes flicker {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

@keyframes scanline {
    0% {
        top: 100%;
    }
}