@use "../vars" as *;
@use "../border" as bd;
@use "../font";
@use "../hsla";

@font-face {
    font-family: "FixedSysTrue";
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    src: url("https://saltssaumure.github.io/pios-discord-theme/font/FixedSysTrue.ttf");
}

@font-face {
    font-family: "PerfectDOS";
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    src: url("https://saltssaumure.github.io/pios-discord-theme/font/PerfectDosVga.ttf");
}

:root {
    // Set default fonts
    @include font.lang-font($font-latin, $font-code);
    letter-spacing: -0.04rem;
}

:lang(bg),
:lang(el),
:lang(ru),
:lang(uk) {
    @include font.lang-font($font-cyrillic, $font-code);
}
:lang(zh-CN) {
    @include font.lang-font($font-chinese-simplified, $font-code);
}
:lang(zh-TW) {
    @include font.lang-font($font-chinese-traditional, $font-code);
}
:lang(ja) {
    @include font.lang-font($font-japanese, $font-code);
}
:lang(ko) {
    @include font.lang-font($font-korean, $font-code);
}

// All caps on areas where case is not so important
// importantly: excludes message text, searches, emoji, and status text
.name_d8bfb3,
// channel names
.activityUserPopout_d5089b,
// now playing game and time
.protip-2urNh2,
// "right click user for more actions (not changed?)
.roleName_e4010c,
// roles
.timestamp_ec86aa,
// message timestamp
.divider_fc5f50,
// day dividers
.children_e44302,
// channel name and desc
.navButton_af5dbb,
// emoji/gif picker buttons
.categoryName_af1167,
// gif picker categories
.side_a0 // settings list
{
    text-transform: uppercase;
}

// Selected text
::selection {
    background: hsla.default($accent-hue, 0.7);
}

// Code blocks and inline
.markup_d6076c code.hljs,
.markup_d6076c code.inline {
    font-family: var(--font-code);
    @include bd.border(thin, bright);
    padding: 1px 8px 3px 8px;
}

// Code in replied message
.markup_d6076c.repliedTextContent_ec86aa code.inline {
    padding: 1px 8px 2px 8px;
}

// Underline #channels and @pings
.appMount_ea7e65 .wrapper_d4fa29 {
    text-decoration: underline;
    background: $embed-color;
}

// User, role, and channel mentions
.appMount_ea7e65 .mention {
    color: $bright-color;
}

// Fix font size of channel group and user group labels to match others
.da-username,
.container_cc72c1,
.name-3YKhmS {
    font-size: 16px;
}

// [user] created thread, pinned message, joined server, etc. alert message
.content_e62b38 {
    text-transform: uppercase;
}

.content_e62b38 a {
    text-transform: none;
}

.compact_e62b38 {
    margin-left: 0;
}
