/**
 * @name piOS Forever
 * @author Saltssaumure#7557
 * @description SUPERHOT piOS inspired theme. Now automatically updates, forever!
 * @version  Autoupdate
*/

/*
                                                Made by:
 _______  _______  _    _________ _______  _______  _______           __   __           _______  _______ 
(  ____ \(  ___  )( \   \__   __/(  ____ \(  ____ \(  ___  )|\     /|(  \ /  )|\     /|(  ____ )(  ____ \
| (____\/| (___) || |      | |   | (____\/| (____\/| (___) || |   | || || || || |   | || (____)|| (__  \/
(_____  )|  ___  || |      | |   (_____  )(_____  )|  ___  || |   | || |(_)| || |   | || __  __)|  __)   
/\____) || )   ( || (____/\| |   /\____) |/\____) || )   ( || (___) || )   ( || (___) || ) \ \__| (____/\
\_______)|/     \|(_______/)_(   \_______)\_______)|/     \|(_______)|/     \|(_______)|/   \__/(_______/

                                              donut steel!

Discord: Saltssaumure#7557
Twitter: @Saltssaumure

Previous versions: 0.1 (unpublished), 0.2, 0.3, 0.4 (unpublished)
Current version: Forever

Join the Official Superhot Discord! https://discord.gg/9eAwJF8

*/

@import url('https://saltssaumure.github.io/pios-discord-theme/piOStheme.css');