/**
 * @name piOS Main
 * @author Saltssaumure#7557
 * @description Main section of piOS Discord Theme. Please download the autoupdater from https://github.com/Saltssaumure/pios-discord-theme/releases/tag/latest!
 * @version 6
*/

/*
Source for new class names:
https://gist.github.com/ExperiBass/2375ac4f7088bb9410d81cd59495f462
*/

@import url(https://saltssaumure.github.io/borderradiant-discord-theme/BorderRadiant.theme.css);
@import url(https://saltssaumure.github.io/pios-discord-theme/piOSRadialStatus.theme.css);

@import url(https://saltssaumure.github.io/pios-discord-theme/piOSRadialStatus.theme.css);
@import url(https://saltssaumure.github.io/pios-discord-theme/piOStext.theme.css);
@import url(https://saltssaumure.github.io/pios-discord-theme/piOSglow.theme.css);
@import url(https://saltssaumure.github.io/pios-discord-theme/piOSspoiler.theme.css);
@import url(https://saltssaumure.github.io/pios-discord-theme/piOSmisc.theme.css);

@import url(https://saltssaumure.github.io/pios-discord-theme/box/piOSboxChannelMemberServer.theme.css);
@import url(https://saltssaumure.github.io/pios-discord-theme/box/piOSboxChat.theme.css);
@import url(https://saltssaumure.github.io/pios-discord-theme/box/piOSboxModal.theme.css);
@import url(https://saltssaumure.github.io/pios-discord-theme/box/piOSboxPopover.theme.css);
@import url(https://saltssaumure.github.io/pios-discord-theme/box/piOSboxSearch.theme.css);

@font-face {
    font-family: "FixedSysTrue";
	font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    src: url("https://saltssaumure.github.io/pios-discord-theme/font/FixedSysTrue.ttf");
}

@font-face {
    font-family: "PerfectDOS";
	font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    src: url("https://saltssaumure.github.io/pios-discord-theme/font/PerfectDosVga.ttf");
}

/* 
Override Discord variables: kebab-case
Self-defined variables: camelCase
User-definable variables: kebab-case
*/

.theme-dark
{
    /* Set customisable colour scheme */
    --piOSaccenthue:  var(--accent-color, 0); /* default: 0 (red) */
    --piOSaccent:     hsl(var(--piOSaccenthue), calc(var(--saturation-factor)*100%), 50%);
    --piOSwhite:    white;
    --piOSlightgrey:lightgrey;
    --piOSgrey:     grey;
    --piOSblack:    black;
    
    /* Set default fonts */
    --font-display: PerfectDOS, monospace; /* For server and channel title */
	--font-primary: PerfectDOS, monospace; /* For almost everything else */
	--font-code:    "FixedSysTrue", monospace; /* Code blocks */
    letter-spacing: -0.04rem;

    /* Borders */
	--borderColor:          var(--piOSgrey);
	--borderCodeColor:      var(--piOSwhite);
	--borderBrightColor:    var(--piOSwhite);
    --thickBorder: 2px 5px;
    --thinBorder:  1px 3px;

    /* Text colours */
	--header-primary:           var(--piOSwhite); /* Server name, channel name, default user colour */
	--header-secondary:         var(--piOSgrey);
    --text-normal:              var(--piOSwhite);
    --text-muted:               var(--piOSgrey);
    --text-link:                var(--piOSwhite);
    --text-link-low-saturation: var(--piOSwhite);
    --interactive-normal:       var(--piOSlightgrey);
    --interactive-muted:        var(--piOSgrey);
    --interactive-active:       var(--piOSwhite); /* default: unread dot marker, current channel name */

    /* Backgrounds */
    --background-primary:       var(--piOSblack);
    --background-secondary:     var(--piOSblack);
    --background-secondary-alt: var(--piOSblack);
    --background-tertiary:      var(--piOSblack);
    --background-accent:        var(--piOSaccent);
    --background-floating:      var(--piOSblack);
	--background-mentioned:     hsla(var(--piOSaccenthue), calc(var(--saturation-factor)*100%), 50%, 0.2);
    --backgroundEmbed:          hsla(var(--piOSaccenthue), calc(var(--saturation-factor)*100%), 50%, 0.3);
	--channeltextarea-background:   transparent;
    --input-background:         var(--background-modifier-hover); 
    --background-modifier-hover:    hsla(var(--piOSaccenthue), calc(var(--saturation-factor)*100%), 50%, 0.2);
    --background-modifier-active:   hsla(var(--piOSaccenthue), calc(var(--saturation-factor)*100%), 50%, 0.7);
    --background-modifier-selected: hsla(var(--piOSaccenthue), calc(var(--saturation-factor)*100%), 50%, 0.3);
    --background-modifier-accent:   transparent;

    /* Scrollbars */
    --scrollbar-thin-thumb: var(--piOSaccent);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: var(--piOSaccent);
    --scrollbar-auto-track: transparent;
    --scrollbar-auto-scrollbar-color-thumb: var(--piOSaccent);
    --scrollbar-auto-scrollbar-color-track: transparent;

    /* Drop shadows */
    --elevation-stroke: transparent;
    --elevation-low:    transparent;
    --elevation-medium: transparent;
    --elevation-high:   transparent;

    /* Search */
    --search-popout-option-fade:        linear-gradient(90deg, transparent, var(--piOSblack) 80%); /* Fading effect after search options */
    --search-popout-option-fade-hover:  linear-gradient(90deg, transparent, var(--piOSblack) 50%);
    /* --search-popout-option-filter-text: var(--piOSgrey); */
    --search-popout-option-non-text-color:  ;
    /*--search-popout-option-filter-color:    var(--piOSgrey);
    --search-popout-option-answer-color:    var(--piOSgrey);
    --search-popout-date-picker-border:     var(--piOSgrey); 
    As of 8th Apr 2022, these variables do nothing */
    --search-popout-date-picker-hint-text:  var(--piOSgrey);
    --search-popout-date-picker-hint-value-text:                var(--piOSwhite);
    --search-popout-date-picker-hint-value-background:          var(--background-modifier-hover);
    --search-popout-date-picker-hint-value-background-hover:    var(--background-modifier-selected);
    --deprecated-text-input-border-disabled: var(--borderColor); /* for some reason used by day box borders */

    /* Misc parts */
    --status-danger: var(--piOSaccent); /* Servers sidebar notification counter background */
    --divider-color: hsl(0, calc(var(--saturation-factor)*100%), 50%); /* color of new messages divider */
	--info-warning-foreground: hsl(0, calc(var(--saturation-factor)*100%), 50%); /* colour of @ping message left side indicator */
    --spoilerGradient: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 4px,
        rgba(0, 255, 255, 0.2) 2px,
        rgba(0, 255, 255, 0.2) 6px
    ); /* Spoiler stripe pattern */
    --true-compact-message-spacing: var(--compact-message-spacing, 1); /* Space between messages in compact mode, user adjustable */
}

/*
    Keep Custom CSS editor and code related parts untouched.
    Avoids issues when working with the Custom CSS editor.
 */
#bd-customcss-detach-container.hljs,
#bd-customcss-detach-container.inline,
#bd-customcss-detach-container.hljs :-webkit-any(ol, li, span),
.editor-wrapper :-webkit-any(textarea, div, span) {
    font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro",
        monospace;
    text-transform: none;
    text-shadow: none;
}