/**
 * @name piOSTEST3
 * @author Saltssaumure#7557
 * @description Don't use this directly if possible, download the autoupdater
 * @version X
*/

/* 
Colours:
backgrounds: black
text: white
    --background-modifier-hover: rgba(255,0,0,0.2);
    --background-modifier-active: rgba(255,0,0,0.7);
    --background-modifier-selected: rgba(255,0,0,0.3);
	
	--background-mentioned: rgba(255,0,0,0.2);
	--background-mentioned-hover: rgba(255,0,0,0.2);
	
	--mainGlowColor: rgba(0,255,255,0.7);   
	--mutedGlowColor: rgba(200,255,255,0.2);
	--SHTeamGlowColor: rgba(255,0,0,0.5);   
	--SHMindsGlowColor: rgba(0,200,255,0.5);
*/

@font-face {
    font-family: "FixedSysTrue";
    src: url("https://static.tumblr.com/6nmlfta/Xglq29q3t/fsex300.ttf")
}

@font-face {
    font-family: "PerfectDOS";
    src: url("https://static.tumblr.com/6nmlfta/kInq29swf/perfect_dos_vga_437_win.ttf")
}

::root
{
	--font-display: PerfectDOS, monospace; /* For server and channel title */
	--font-primary: PerfectDOS, monospace; /* For almost everything else */
	--font-code: "FixedSysTrue", monospace; /* Code blocks */
}

.theme-dark
{
	/* User editable glow colours - change the RGBA values to anything you like! */
/* RGBA colour picker: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool */	
	--mainGlowColor: rgba(0,255,255,0.7);   /* Glow colour for messages, names, channels. Default: cyan     */
	--mutedGlowColor: rgba(200,255,255,0.2);/* Glow colour for muted channels.            Default: slate    */
	--SHTeamGlowColor: rgba(255,0,0,0.5);   /* Glow colour for Superhot Team names.       Default: red      */
	--SHMindsGlowColor: rgba(0,200,255,0.5);/* Glow colour for Superhot Mind names.       Default: sky blue */
	--border: grey;
	--border-code: white;
	--border-bright: white;
	--background-embed: rgba(255,0,0,0.3);
	--warning: red;
	
	--header-primary: white;
	--header-secondary: grey;
    --text-normal: white;
    --text-muted: grey;
    --text-link: white;
    --text-link-low-saturation: white;
    /* --text-positive: hsl(139,calc(var(--saturation-factor, 1)*66.8%),58.6%); */
    /* --text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%); */
    /* --text-danger: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%); */
    /* --interactive-normal: #b9bbbe; */
    /* --interactive-hover: #dcddde; */
    --interactive-active: white; /* default: unread dot marker, current channel name */
    /* --interactive-muted: #4f545c; */
	
    --background-primary: black;
    --background-secondary: black;
    --background-secondary-alt: black;
    --background-tertiary: black;
    --background-accent: red;
    --background-floating: black;
	--background-mentioned: rgba(255,0,0,0.2);
	--channeltextarea-background: transparent;
	
	--divider-color: red; /* color of new messages divider */
	--info-warning-foreground: red; /* colour of @ping message left side indicator */
	
    /* --background-mobile-primary: #36393f; */
    /* --background-mobile-secondary: #2f3136; */
	--background-modifier-hover: rgba(255,0,0,0.2);
    --background-modifier-active: rgba(255,0,0,0.7);
    --background-modifier-selected: rgba(255,0,0,0.3);
    --background-modifier-accent: transparent;

    /* --info-positive-text: #fff; */
    /* --info-warning-text: #fff; */
    /* --info-danger-text: #fff; */
    /* --info-help-background: hsla(197,calc(var(--saturation-factor, 1)*100%),47.8%,0.1); */
    /* --info-help-foreground: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%); */
    /* --info-help-text: #fff; */
    /* --status-warning-text: #000; */
	
    --scrollbar-thin-thumb: var(--background-accent);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: var(--background-accent);
    --scrollbar-auto-track: transparent;
    --scrollbar-auto-scrollbar-color-thumb: var(--background-accent);
    --scrollbar-auto-scrollbar-color-track: transparent;
	
    /* --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15); */
    /* --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05); */
    /* --elevation-medium: 0 4px 4px rgba(0,0,0,0.16); */
    /* --elevation-high: 0 8px 16px rgba(0,0,0,0.24); */
    /* --logo-primary: #fff; */
    /* --control-brand-foreground: hsl(227,calc(var(--saturation-factor, 1)*57.9%),77.6%); */
    /* --control-brand-foreground-new: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%); */
    /* --background-mentioned: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1); */
    /* --channels-default: #8e9297; */
    /* --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4); */
    
    /* --activity-card-background: #202225; */
    /* --textbox-markdown-syntax: #8e9297; */
    /* --deprecated-card-bg: rgba(32,34,37,0.6); */
    /* --deprecated-card-editable-bg: rgba(32,34,37,0.3); */
    /* --deprecated-store-bg: #36393f; */
    /* --deprecated-quickswitcher-input-background: #72767d; */
    /* --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3); */
    /* --deprecated-text-input-bg: rgba(0,0,0,0.1); */
    /* --deprecated-text-input-border: rgba(0,0,0,0.3); */
    /* --deprecated-text-input-border-hover: #040405; */
    /* --deprecated-text-input-border-disabled: #202225; */
    /* --deprecated-text-input-prefix: #dcddde; */
	letter-spacing: -0.04rem;
}

/* discord friends tab: for some reason not currently using a variable */
.theme-dark .container-1D34oG
{
	background-color: var(--background-primary);
}
	/* square off the corners in friend tab */
	.actionButton-uPB8Fs
	{
		border-radius: 0;
	}

/* give embeds a spicy red background */
.embedFull-2tM8--.markup-2BOw-j
{
	background: var(--background-embed);
	border-radius: 0;
	border: 0;
	text-shadow: none;
}
	.grid-1nZz7S
	{
		padding: 12px 18px;
	}
		.embedMargin-UO5XwE
		{
			margin-top: 0;
		}
		
	/* squares off images/videos embeds */
	.embedImage-2W1cML img,
	.embedImage-2W1cML video,
	.embedThumbnail-2Y84-K img,
	.embedThumbnail-2Y84-K video,
	.embedVideo-3nf0O9 img,
	.embedVideo-3nf0O9 video,
	.embedMedia-1guQoW,
	.wrapper-2TxpI8,
	.imageWrapper-2p5ogY
	{
		border-radius: 0;
	}	
	/* play buttons on video */
	.wrapper-129saQ
	{
		border-radius: 0;
		padding: 12px 5px;
	}
	/* timeline slider */
	.mediaBarGrabber-1FqnbN,
	.mediaBarProgress-1xaPtl,
	.mediaBarProgress-1xaPtl:after,
	.mediaBarProgress-1xaPtl:before
	{
		border-radius: 0;
		background: var(--background-accent);
	}

/* "replying to message" bar set transparent with dotted underline */
.replyBar-1YLQ2F
{
	border-bottom: 1px dashed var(--border);
	border-radius: 0;
}

/* End colours/background



/*
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Start glow */ 

/* Main section text glow */
.markup-2BOw-j
{
	text-shadow: 2px 0 10px var(--mainGlowColor), -2px 0 10px var(--mainGlowColor);
}

.repliedTextContent-1R3vnK.markup-2BOw-j, /* but not on reply message preview */
.edited-3sfAzf /* but not on (edited) */
{
	text-shadow: none;
}

/* allow glow outside name box on users list */
.content-3QAtGj, .nameAndDecorators-5FJ2dg, .name-uJV0GL, .roleColor-rz2vM0
{
	overflow: visible;
}

/* Superhot Team */
span[style="color: rgb(196, 0, 0);"]
{
	text-shadow: 2px 0 5px var(--SHTeamGlowColor), -2px 0 5px var(--SHTeamGlowColor);
}
/* SuperBOT */
span[style="color: rgb(1, 1, 1);"]
{
	text-shadow: 2px 0 5px var(--SHMindsGlowColor), -2px 0 5px var(--SHMindsGlowColor);
}

/* Light turquoise */
span[style="color: rgb(26, 188, 156);"]
{	
	--lightturquoise: rgb(26, 188, 156);
	text-shadow: 2px 0 5px var(--lightturquoise), -2px 0 5px var(--lightturquoise);
}
	/* Dark turquoise */
	span[style="color: rgb(17, 128, 106);"]
	{
		--darkturquoise: rgb(17, 128, 106);
		text-shadow: 2px 0 5px var(--darkturquoise), -2px 0 5px var(--darkturquoise);
	}
/* Light green */
span[style="color: rgb(46, 204, 113);"]
{
	--lightgreen: rgb(46, 204, 113);
	text-shadow: 2px 0 5px var(--lightgreen), -2px 0 5px var(--lightgreen);
}
	/* Dark green */
	span[style="color: rgb(31, 139, 76);"]
	{
		--darkgreen: rgb(31, 139, 76);
		text-shadow: 2px 0 5px var(--darkgreen), -2px 0 5px var(--darkgreen);
	}
/* Superhot Minds (and Light blue) */
span[style="color: rgb(52, 152, 219);"]
{
	text-shadow: 2px 0 5px var(--SHMindsGlowColor), -2px 0 5px var(--SHMindsGlowColor);	
}
	/* Dark blue */
	span[style="color: rgb(32, 102, 148);"]
	{
		--darkblue: rgb(32, 102, 148);
		text-shadow: 2px 0 5px var(--darkblue), -2px 0 5px var(--darkblue);
	}
/* Light purple */
span[style="color: rgb(155, 89, 182);"]
{
	--lightpurple: rgb(155, 89, 182);
	text-shadow: 2px 0 5px var(--lightpurple), -2px 0 5px var(--lightpurple);
}
	/* Dark purple */
	span[style="color: rgb(113, 54, 138);"]
	{
		--darkpurple: rgb(113, 54, 138);
		text-shadow: 2px 0 5px var(--darkpurple), -2px 0 5px var(--darkpurple);
	}
/* Light pink */
span[style="color: rgb(233, 30, 99);"]
{
	--lightpink: rgb(233, 30, 99);
	text-shadow: 2px 0 5px var(--lightpink), -2px 0 5px var(--lightpink);
}
	/* Dark pink */
	span[style="color: rgb(173, 20, 87);"]
	{
		--darkpink: rgb(173, 20, 87);
		text-shadow: 2px 0 5px var(--darkpink), -2px 0 5px var(--darkpink);
	}
/* Light yellow */
span[style="color: rgb(241, 196, 15);"]
{
	--lightyellow: rgb(241, 196, 15);
	text-shadow: 2px 0 5px var(--lightyellow), -2px 0 5px var(--lightyellow);
}
	/* Dark yellow */
	span[style="color: rgb(194, 124, 14);"]
	{
		--darkyellow: rgb(194, 124, 14);
		text-shadow: 2px 0 5px var(--darkyellow), -2px 0 5px var(--darkyellow);
	}
/* Light tan */
span[style="color: rgb(230, 126, 34);"]
{
	--lighttan: rgb(230, 126, 34);
	text-shadow: 2px 0 5px var(--lighttan), -2px 0 5px var(--lighttan);
}
	/* Dark tan */
	span[style="color: rgb(168, 67, 0);"]
	{
		--darktan: rgb(168, 67, 0);
		text-shadow: 2px 0 5px var(--darktan), -2px 0 5px var(--darktan);
	}
/* Light orange */
span[style="color: rgb(231, 76, 60);"]
{
	--lightorange: rgb(231, 76, 60);
	text-shadow: 2px 0 5px var(--lightorange), -2px 0 5px var(--lightorange);
}
	/* Dark orange */
	span[style="color: rgb(153, 45, 34);"]
	{
		--darkorange: rgb(153, 45, 34);
		text-shadow: 2px 0 5px var(--darkorange), -2px 0 5px var(--darkorange);
	}
/* Light grey */
span[style="color: rgb(149, 165, 166);"]
{
	--lightgrey: rgb(149, 165, 166);
	text-shadow: 2px 0 5px var(--lightgrey), -2px 0 5px var(--lightgrey);
}
	/* Dark grey */
	span[style="color: rgb(151, 156, 159);"]
	{
		--darkgrey: rgb(151, 156, 159);
		text-shadow: 2px 0 5px var(--darkgrey), -2px 0 5px var(--darkgrey);
	}
/* Light slate */
span[style="color: rgb(96, 125, 139);"]
{
	--lightslate: rgb(96, 125, 139);
	text-shadow: 2px 0 5px var(--lightslate), -2px 0 5px var(--lightslate);
}
	/* Dark slate */
	span[style="color: rgb(84, 110, 122);"]
	{
		--darkslate: rgb(84, 110, 122);
		text-shadow: 2px 0 5px var(--darkslate), -2px 0 5px var(--darkslate);
	}



/* Hover/select on channels/names */
.modeUnread-1zpFdA:hover .name-3_Dsmg,
.wrapper-1ucjTd:hover,
.content-3QAtGj:hover,
.da-selected
{
    text-shadow: 0 0 5px blue;
}

.theme-dark .wrapper-3WhCwL, /* #channels and @pings */
.markup-2BOw-j a /* hyperlinks */
{
    color: white;
    text-shadow: 0 0 20px white;
}


/* End glow
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Start Fonts */ 

/* All caps on areas where case is not so important */
/* importantly: excludes message text, searches, emoji, and status text */
.channelName-2YrOjO, 	/* channel names */
/*.name-uJV0GL,			usernames in user list */
/*.username-1A8OIy,		usernames in main section */
/*.mention,				usernames in mention */
/*.headerText-15Q25Z,	usernames in user info */
.activityUserPopout-2yItg2,	/* now playing game and time */
.protip-2urNh2,			/* "right click user for more actions */
.roleName-32vpEy,		/* roles */
.timestamp-3ZCmNB,		/* message timestamp */
.divider-JfaTT5,		/* day dividers */
.children-19S4PO, 		/* channel name and desc */
.navButton-2gQCx-,		/* emoji/gif picker buttons */
.categoryName-UvMsNp,	/* gif picker categories */
.side-8zPYf6 			/* settings list */
{
    text-transform: uppercase;	
}

/* nukes formatting for code blocks bc readability is important for being a hackerman */
.markup-2BOw-j code.hljs,
.markup-2BOw-j code.inline
{
    font-family: var(--font-code);
	border: solid var(--border-code);
    border-width: 1px 3px;
    padding: 1px 8px 3px 8px;
    text-shadow: none;
	border-radius: 0;
}

/* Underline #channels and @pings */
.theme-dark .wrapper-3WhCwL,
.mention
{
    text-decoration: underline;
	border-radius: 0;
	background: var(--background-embed);
}
.roleMention-2Bj0ju
{
	text-shadow: none;
}

/* Fix font size of channel group and user group labels to match others */
.da-username,
.container-2ax-kl,
.name-3YKhmS
{
    font-size: 16px	;
}

.content-2M3n_H, /* Pins / calls message interjects */
.timestamp-1E3uAL, /* timestamp for the above */
.mentionFilter-1PQ6ey .value-2k8Drt /* mentions, display: [everything] */
{
	text-transform: uppercase;
	text-shadow: none;
}
.compact-2zYMSo
{
	margin-left: 0;
}

/* in replying to user box, change @on colour to red as warning */
.colorLink-2vG20E.mentionButton-3710-W
{
	color: var(--warning);
}

/* new message bubble delete */
.unreadPill-2HyYtt
{
	display: none;
}

/* square off jump to present bar
 and new messages since bar
 and messages failed to load bar */
.jumpToPresentBar-G1R9s6,
.newMessagesBar-265mhP,
.messagesErrorBar-nyJGU7
{
	border-radius: 0;
	background-color: var(--background-accent);
	opacity: 0.7;
}

/* square off new unreads bubble */
.bar-30k2ka
{
	border-radius: 0;
}
.mention-1f5kbO /* make the server unread red */
{
	background-color: var(--background-accent);
}

/* End fonts
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
Start boxes (borders) */ 

/* box around the main section */
.chatContent-a9vAAp
{
	border: solid var(--border);
	border-width: 2px 5px;
}
/* remove the wrong colour top line */
.content-yTz4x3::before~
{
	display: none;
}
/* square off avatar */
.avatar-1BDn8e
{
	border-radius: 0;
}

/* follow to get this channel's updates in your server add dotted topline */
.form-2fGMdU .wrapper-39oAo3
{
	border-top: 1px dashed var(--border);
	margin-top: 0;
}
	/* kill bird wumpus */
	.image-3XsqGc
	{
		display: none;
	}

/* info bubbles tooltips */
.tooltip-2QfLtc
{
	border: solid var(--border-bright);
	border-width: 1px 3px;
	border-radius: 0;
}
	.tooltipPointer-3ZfirK /* arrow pointing towards tooltip source*/
	{
		display: none;
	}
	.avatar-3bWpYy, /* avatars in tooltip */
	.container-23E4rK .moreUsers-7v8yWY /* more users icon in tooltip */
	{
		border-radius: 0;
	}

/* typing box */
.channelTextArea-2VhZ6z
{
	border: solid var(--border);
	border-width: 2px 5px;
	border-radius: 0;
}
	.scrollableContainer-2NUZem
	{
		border-radius: 0;
		min-height: 60px;
	}
		.fontSize24Padding-2Tz8jD
		{
			padding: 10px 0;
		}
	
	/* yeet nitro */
	button[aria-label="Send a gift"]
	{
		display: none;
	}
	
/* suggestions when typing emoji */
.autocomplete-3l_oCd
{
	border-radius: 0;
}
.theme-dark .autocomplete-1vrmpx
{
	background: var(--background-primary);
	border: solid var(--border);
	border-width: 1px 3px;
}
	/* Selected/hovered emoji/user/channel */
	.theme-dark .selected-1Tbx07
	{
		background: var(--background-modifier-selected);
	}
	.base-1pYU8j
	{
		border-radius: 0;
	}
	
/* fixes search suggestion box */
.theme-dark .container-3ayLPN
{
	background: var(--background-primary);
	border: solid var(--border-bright);
	border-width: 1px 3px;
}
.container-3ayLPN
{
	border-radius: 0;
}
.theme-dark .elevationBorderHigh-2WYJ09
{
	box-shadow: none;
}
	/* fixes each suggestion box */
	.theme-dark .option-96V44q:after
	{
		display: none;
	}
	.theme-dark .option-96V44q.selected-rZcOL-
	{
		background: var(--background-modifier-selected);
	}
	.option-96V44q
	{
		border-radius: 0;	
	}	
	/* fixes search result */
	.theme-dark .focused-2bY0OD
	{
		background: var(--background-primary);
	}
	
/* fixes date popup when you search before: after: */
.theme-dark .calendarPicker-2yf6Ci .react-datepicker,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month
{
	background-color: var(--background-primary);
}
/* day box on hover */
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover
{
	background-color: var(--background-modifier-hover);
}
	/* previous / next month buttons */
	.calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next,
	.calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous
	{
		border-radius: 0;
	}

	/* day box size */
	.calendarPicker-2yf6Ci .react-datepicker__day
	{
		--daywidth: 36px;
		height: var(--daywidth);
		width: var(--daywidth);
		line-height: var(--daywidth);
	}
		/* unrounds the corners */
		.calendarPicker-2yf6Ci .react-datepicker__week:first-of-type>.react-datepicker__day:first-of-type,
		.calendarPicker-2yf6Ci .react-datepicker__week:first-of-type>.react-datepicker__day:last-of-type,
		.calendarPicker-2yf6Ci .react-datepicker__week:last-of-type>.react-datepicker__day:first-of-type,
		.calendarPicker-2yf6Ci .react-datepicker__week:last-of-type>.react-datepicker__day:last-of-type
		{
			border-radius: 0;
		}
	.calendarPicker-2yf6Ci .react-datepicker__day-name
	{
		width: 36px; /* why does this not work with daywidth */
	}
	/* current day underbar*/
	.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after
	{
		background: var(--background-accent);
	}
	/* hint bubble */
	.datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z
	{
		border-radius: 0;
	}
		.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z
		{
			background: var(--background-modifier-selected);
		}
		.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover
		{
			background: var(--background-accent);
		}
	
/* search modifiers eg has: from: */
.searchFilter-2ESiM3,
.search-2oPWTC .DraftEditor-root .DraftEditor-editorContainer,
.searchAnswer-3Dz2-q
{
	border-radius: 0;
}

/* search results */
.searchResult-9tQ1uo
{
	border-radius: 0;
}

/* draw bright borders around boxes */	
.contentWrapper-SvZHNd,			/* emoji/gif selector box (from message box)*/
#emoji-picker-tab-panel[role="dialog"], /* emoji picker for reactions */
.userPopout-xaxa6l,				/* user profile popouts */
.messagesPopoutWrap-1MQ1bW,		/* pinned messages box */
.container-enaOkj				/* mentions box */
{
	border-radius: 0;
	border: solid var(--border-bright);
	border-width: 2px 5px;
}

/* decrease text size in the above boxes */
.messagesPopoutWrap-1MQ1bW .markup-2BOw-j,
.container-enaOkj .markup-2BOw-j
{
	font-size: smaller;
	line-height: 1rem;
}

/* Emoji reaction picker style */
#emoji-picker-tab-panel[role="dialog"]
{
	background: var(--background-primary);
}
	.emojiPicker-3PwZFl /* square off the internal box */
	{
		box-shadow: none;
		background: transparent;
	}
		.navButton-2gQCx- /* square off the gif/emoji tab buttons */
		{
			border-radius: 0;
		}
		.diversitySelectorOptions-4YM-vX /* draws box around skin tone selector */
		{
			border-radius: 0;
			border: solid var(--border);
			border-width: 1px 3px;
		}
		.emojiItem-14v6tW, /* squares off each emoji */
		.gif-1TcNIB /* squares off each gif */,
		.categoryFade-2ybR1J,
		.categoryFadeBlurple-1j72_A
		{
			border-radius: 0;
		}
			.gif-1TcNIB:after
			{
				display: none;
			}
			
.reaction-1hd86g /* squares off reactions */
{
	border-radius: 0;
}
.reaction-1hd86g.reactionMe-wv5HKu /* and turns red on reactions you've added */
{
	border-color: var(--background-accent);
	background-color: var(--background-modifier-selected);
}

/* image uploader popup */
.uploadModal-2ifh8j
{
	border-radius: 0;
	border: solid var(--border);
	border-width: 2px 5px;
}
	.theme-dark .uploadModal-2ifh8j
	{
		background: var(--background-primary);
	}
		.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j
		{
			border-radius: 0;
		}
	.theme-dark .footer-3mqk7D
	{
		background-color: transparent;
	}
		.box-mmYMsp /* mark as spoiler box */
		{
			border-radius: 0;
		}
			.theme-dark .checkbox-1ix_J3.checked-3_4uQ9 /* when spoiler is marked */
			{
				border-color: var(--background-accent)!important;
				color: var(--background-accent); /* passes color to SVG tick */
			}
			.theme-dark .checkbox-1ix_J3.checked-3_4uQ9 path
			{
				fill: currentColor;
			}
		.lookFilled-1Gx00P.colorBrand-3pXr91 /* upload button */
		{
			background-color: var(--background-modifier-selected);
		}
			.lookFilled-1Gx00P.colorBrand-3pXr91:hover
			{
				background-color: var(--background-accent);
			}

/* Style user profile popouts */
.userPopout-xaxa6l
{
	border-radius: 0;
}
	/* message user box */
	.input-cIJ7To
	{
		border-radius: 0;
	}

/* role */
.role-2irmRk,
.roleCircle-3xAZ1j
{
	border-radius: 0;
}

/* delet reply jump in mentions/unreads */
.container-3iAQ-0 .compact-T3H92H .repliedMessage-VokQwo,
.container-enaOkj .compact-T3H92H .repliedMessage-VokQwo
{
	display: none;
}
.topPill-30KHOu .item-PXvHYJ /* square off mentions/unreads buttons */
{
	border-radius: 0;
}
.menu-3sdvDG /* filter gets box border */
{
	border: solid var(--border);
	border-width: 1px 3px;
	border-radius: 0;
}

/* blurs out emojis that require nitro when no nitro is active */
.emojiItemDisabled-1FvFuF
{
	filter: blur(1px) grayscale(100%) opacity(40%);
}

/* square off block quote starter */
.blockquoteContainer-U5TVEi .blockquoteDivider-2hH8H6
{
	border-radius: 0;
	width: 3px;
}

/* reply pipe */
.repliedMessage-VokQwo:before
{
	border-radius: 0;
	border-left-width: 3px;
	border-top-width: 1px;
}

/* hmmm what if soup text boxes in compact mode*/
.message-2qnXI6.compact-T3H92H
{
	/* these don't want to be in a single border property */
	border-width: 1px 3px;
	border-style: solid;
	border-color: var(--border);
	margin: 1.5rem 3rem;
	padding: 1rem 1rem .5rem 1rem;
	padding-right: 1rem!important;
}

	/* name and timestamp */
	.compact-T3H92H .header-23xsNx
	{
		position: absolute;
		top: -1.6rem;
		display: flex;
		flex-direction: row-reverse;
	}
		
		.compact-T3H92H .headerText-3Uvj1Y
		{
			margin-right: 0;
		}
		
		.compact-T3H92H .header-23xsNx>span
		{
			display: block;
		}
		
			.username-1A8OIy,
			.compact-T3H92H .timestamp-3ZCmNB
			{
				background: linear-gradient(transparent, var(--background-primary) 40%, transparent 60%);
			}
			
	/* reply if any */
	.compact-T3H92H .repliedMessage-VokQwo::before
	{
		display: none;
	}
	.compact-T3H92H .repliedMessage-VokQwo
	{
		position: absolute;
		right: .5rem;
		padding-left: 0;
		top: -.6rem;
		max-width: 400px;
		background: linear-gradient(transparent, var(--background-primary) 50%, transparent 60%);
		display: flex;
		justify-content: flex-end;
		z-index: 1;
	}
	.compact-T3H92H .replyBadge-r1su3o
	{
		border-radius: 0; 
		background: transparent;
	}
	
	/* the message itself */
	.compact-T3H92H .contents-2mQqc9
	{
		margin: 0;
		padding-left: 0;
		text-indent: 0;
	}

/* remove box if system message eg. pin*/
.systemMessage-1I9LCe.message-2qnXI6.compact-T3H92H
{
	border: 0;
}
	/* vertically center pin icon */
	.iconContainer-3GkGRf
	{
		padding: 0.1rem;
	}
	/* remove link glow on pin */
	.systemMessage-1I9LCe .markup-2BOw-j a
	{
		text-shadow: none;
	}
	
/* message react/reply etc buttons */
.compact-T3H92H .container-3npvBV
{
	top: -16px;
}
	.wrapper-2aW0bm
	{
	border-radius: 0;
	border: solid var(--border);
	border-width: 1px 3px;
	}
	
/* Adds dashes between channel groups */
.containerDefault-3tr_sE:not(:nth-of-type(2))::before
{
	font-size: 16pt;
    content: "-------------------";
    color: var(--channels-default);
}
/* adds dashes between memeber groups */
.membersGroup-v9BXpm.container-2ax-kl:not(:first-of-type)::before
{
	font-size: 16pt;
	display: block;
	position: relative;
    content: "-----------------";
    color: var(--channels-default);
	padding-bottom:6px;
	font-weight: 9;
}
	
/* square off member box */
.layout-2DM8Md
{
	border-radius: 0;
}

.membersGroup-v9BXpm:not(:first-of-type)
{
	height: 56px;
	padding-top: 18px;
}
	
/* ---------------sdfsdfsdf SQUARE TEIM */

/* squares off user icons */
foreignObject[mask*="url(#"],
.assetsLargeMaskUserPopout-12EBBc,
.assetsLargeMaskStreamPreview-2V7xlA
{
	mask: none;
}
.wrapper-3t9DeA /* including in user profile popover */
{
	border-radius: 0;
	border-width: 2px 5px;
}

.baseShapeRound-1Mm1YW, 			/* and stream/ping icons */
.wrapperSimple-19ogV2, 				/* and server icons */
.expandedFolderBackground-1cujaW, .folderIconWrapper-1_bOZe, .iconInactive-98JN5i	/* and server folder icons */
{
	border-radius: 0;
}

.numberBadge-2s8kKX /*  make ping icon actually follow the colour scheme */
{
	background: var(--background-accent)!important; /* unfortunately it's styled inline so I gotta !important*/
	padding: 2px 0 0 2px;	/* this centers the number but it's no longer square hmmmm*/
	width: 18px!important; /* unfortunately it's styled inline so I gotta !important*/
}

/* squares off channels */
.content-1x5b-n
{
	border-radius: 0;
}

/* square off unread dot and change to warning color */
.unread-2lAfLh,
.item-2hkk8m
{
	border-radius: 0;
	background-color: var(--warning);
}

/* fix popup that dims everything else */
.theme-dark .root-1gCeng,
.theme-dark .footer-2gL1pp
{
	background-color: var(--background-primary);
	box-shadow: none;
}
.theme-dark .root-1gCeng
{
	border: solid var(--border);
	border-width: 2px 5px;
	border-radius: 0;
}
	.button-38aScr
	{
		border-radius: 0;
	}
	.lookFilled-1Gx00P.colorRed-1TFJan
	{
		background: var(--background-accent);
	}

/* -------------------- SPOILER STUFF ---- */
.theme-dark .spoilerText-3p6IlD.hidden-HHr2R9
{
	background: repeating-linear-gradient(
		-45deg,
		transparent,
		transparent 4px,
		rgba(0,255,255,0.2) 2px,
		rgba(0,255,255,0.2) 6px
	);
	background-color: transparent;
	filter: drop-shadow(0px 0px 5px var(--background-accent));
}

.theme-dark .spoilerText-3p6IlD.hidden-HHr2R9:hover,
.spoilerText-3p6IlD
{
	background: repeating-linear-gradient(
		-45deg,
		transparent,
		transparent 4px,
		rgba(0,255,255,0.2) 2px,
		rgba(0,255,255,0.2) 6px
	);
	filter: none;
}

.theme-dark .spoilerWarning-2aAZq1
{
	background: repeating-linear-gradient(
		-45deg,
		rgba(0,0,0,0.2),
		rgba(0,0,0,0.2) 4px,
		rgba(0,255,255,0.2) 2px,
		rgba(0,255,255,0.2) 6px
	);
	width:100%;
	height:100%;
	line-height: 200%;
	align-items: flex-start;
	margin-left: 0.6em;
}
/* end spoiler stuff */


/* scrollbar stuff */
/* .scroller-2LSbBU is main chat scrollbar */
/* .auto-Ge5KZx is the friends list scrollbar */
/* .thin-1ybCId are the thin bars that appear on hover */
.scroller-2LSbBU::-webkit-scrollbar,
.auto-Ge5KZx::-webkit-scrollbar
{
    width: 5px;
}
	.scroller-2LSbBU::-webkit-scrollbar-thumb,
	.scroller-2LSbBU::-webkit-scrollbar-track,
	.auto-Ge5KZx::-webkit-scrollbar-thumb,
	.auto-Ge5KZx::-webkit-scrollbar-track
	{
		border-width: 10px;
	}
	/* squares thumb */
	.auto-Ge5KZx::-webkit-scrollbar-thumb,
	.thin-1ybCId::-webkit-scrollbar-thumb
	{
		border-radius: 0;
	}

/* end scrollbar stuff */
















/*
    Keep Custom CSS editor and code related parts untouched.
    Avoids issues when working with the Custom CSS editor.
 */
#bd-customcss-detach-container.hljs,
#bd-customcss-detach-container.inline,
#bd-customcss-detach-container.hljs :-webkit-any(ol, li, span),
.editor-wrapper :-webkit-any(textarea, div, span) {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    text-transform: none;
    text-shadow: none;
}
