/**
 * @name piOS Misc
 * @author Saltssaumure#7557
 * @description Misc section of piOS Discord Theme. Please download the autoupdater from https://github.com/Saltssaumure/pios-discord-theme/releases/tag/latest!
 * @version 1
*/

/* Title bar */
.theme-dark .titleBar-1it3bQ::before {
    content: var(--title-text, "piOS v2.1.01p");
    color: var(--piOSgrey);
    background: var(--piOSblack);
	position: absolute;
    top: -4px;
    left: 0;
    height: 18px;
    padding: 4px;
    line-height: 23px;
    font-size: 14px;
    letter-spacing: 0;
	z-index: 1;
}
.wordmark-2u86JB {
	display: none;
}

/* Notification counter */
.numberBadge-37OJ3S {
    padding: 2px 0 0 2px;
    width: 18px !important;
}

/* discord friends tab: for some reason not currently using a variable */
.theme-dark .container-2cd8Mz {
    background-color: var(--background-primary);
}

/* Buttons */
.lookFilled-yCfaCM.colorBrand-I6CyqQ,
.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled,
.lookFilled-yCfaCM.colorPrimary-2AuQVo,
.lookFilled-yCfaCM.colorBrandNew-2-gGsS  {
    background-color: var(--background-modifier-selected);
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover,
.lookFilled-yCfaCM.colorPrimary-2AuQVo:hover,
.lookFilled-yCfaCM.colorBrandNew-2-gGsS:hover {
    background-color: var(--background-modifier-active);
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:active,
.lookFilled-yCfaCM.colorPrimary-2AuQVo:active,
.lookFilled-yCfaCM.colorBrandNew-2-gGsS:active {
    background-color: var(--background-accent);
}
/* Green buttons */
.lookOutlined-3yKVGo.colorGreen-3y-Z79 {
    background-color: var(--background-modifier-hover);
}
/* Red buttons */
.lookFilled-yCfaCM.colorred-rQXKgM {
    background: var(--background-accent);
}
/* Dangerous buttons when hovered */
.button-3bklZh.dangerous-Y36ifs:hover {
    color: var(--piOSwhite);
}
    
/* BetterDiscord toasts */
.bd-toasts {
    align-items: flex-end;
    right: 0;
}
    .bd-toast {
        border: solid var(--borderColor);
        border-width: var(--thinBorder);
        margin-right: 24px;
        background-color: hsla(0, 0%, 0%, 0.7);
    }
    .bd-toast.toast-success {
        background-color: var(--background-modifier-active);
    }

/* Messages from Clyde now appear as SYSTEM */
.compact-2Nkcau.wrapper-30-Nkg.ephemeral-2nDdnn,
.cozyMessage-1DWF9U.wrapper-30-Nkg.ephemeral-2nDdnn,
.message-2CShn3.ephemeral-2nDdnn.selected-2LX7Jy,
.mouse-mode.full-motion .ephemeral-2nDdnn:hover {
    --clydeColor: var(--piOSaccent);
    --clydeDimColor: hsl(var(--piOSaccenthue), 100%, 30%);
    border-color: var(--background-modifier-active);
    background-color: transparent;
}
    /* No left bar */
    .ephemeral-2nDdnn:before {
        display: none;
    }
    /* Change popout banner */
    .userPopout-2j1gM4[aria-label="Clyde"] .popoutBanner-3cqRD9 {
        background-color: var(--piOSblack)!important;
    }
    /* Change avatar */
    .ephemeral-2nDdnn .avatar-2e8lTP {
        filter: contrast(2) saturate(100) invert(1);
    }
    .full-motion .avatar-2e8lTP.clickable-31pE3P:hover {
        filter: hue-rotate(130deg) contrast(2) saturate(100) ;
    }
    /* Change name */
    .ephemeral-2nDdnn .username-h_Y3Us {
        visibility: hidden;
        padding-right: 0.5rem;
    }
    .ephemeral-2nDdnn .username-h_Y3Us::after {
        visibility: visible;
        content: "SYSTEM";
        display: block;
        color: var(--clydeColor);
        position: absolute;
        top: -0.15rem;
        left: 0;
        background: linear-gradient(
            transparent,
            var(--background-primary) 40%,
            transparent 60%
        );
    }
    .ephemeral-2nDdnn .username-h_Y3Us:hover::after {
        text-decoration: underline;
    }
    /* Totally not a bot */
    .ephemeral-2nDdnn .botTag-1NoD0B {
        display: none;
    }
    /* Timestamp */ 
    .ephemeral-2nDdnn .timestamp-p1Df1m,
    .ephemeral-2nDdnn .timestamp-p1Df1m.alt-1dvXnH {
        color: var(--clydeDimColor);
    }
    /* Content */
    .ephemeral-2nDdnn .markup-eYLPri {
        color: var(--clydeColor);
        text-shadow:
            2px 0 10px var(--clydeColor),
            -2px 0 10px var(--clydeColor);
        text-transform: uppercase;
    }
    /* Dismiss message box */  
    .ephemeralMessage-11q8XZ {
        color: var(--clydeDimColor);
        font-size: 100%;
        text-transform: uppercase;
    }
    .compact-2Nkcau .ephemeralMessage-11q8XZ {
        position: absolute;
        right: 0;
        background: linear-gradient(
            transparent,
            var(--background-primary) 50%,
            transparent 70%
        );
        bottom: -1.1rem;
        display: flex;
        align-items: center;
        gap: 0.6rem;
    }
        .ephemeralMessage-11q8XZ .anchor-1MIwyf {
            color: var(--clydeColor);
        }

/* Checkboxes */
.theme-dark .checkbox-f1HnKB.checked-1pZh2h {
    border-color: var(--piOSwhite) !important;
    color: var(--piOSwhite);
    background: transparent!important;
}
    .theme-dark .checkbox-f1HnKB.checked-1pZh2h path {
        fill: currentColor;
    }

/* Star for verified */
.flowerStar-2tNFCR path {
    fill: var(--background-modifier-active);
}

/* CRT scanline overlay */
body::before {
    content: "";
    display: var(--crt-overlay, block);
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: linear-gradient(
        rgba(255,255,255, 0.05) 50%,
        rgba(0,0,0, 0.1) 50%
    );
    background-size: 100% 4px;
    z-index: 9999;
    pointer-events: none;
    animation: var(--crt-flicker, none) 0.2s infinite alternate;
}
body::after {
    content: "";
    display: var(--crt-scanline, block);
    width: 100vw;
    height: 4px;
    position: absolute;
    background-image: linear-gradient(
        rgba(0,0,0, 0.5),
        transparent
    );
    z-index: 9998;
    pointer-events: none;
    top: 0%;
    animation: scanline 3s linear infinite;
}
@keyframes flicker {
    0% { background-color: transparent; }
    100% { background-color: rgba(0,0,0, 0.1); }
}
@keyframes scanline {
    0% { top: 100%; }
}