/**
 * @name piOS Glow
 * @author Saltssaumure#7557
 * @description Glow section of piOS Discord Theme. Please download the autoupdater from https://github.com/Saltssaumure/pios-discord-theme/releases/tag/latest!
 * @version 1
*/

.theme-dark {
	--mainGlowColor: hsla(180, calc(var(--saturation-factor)*100%), 50%, calc(0.7 * var(--glowIntensity)));      /* Glow colour for messages, names, channels. Default: cyan     */
	--mutedGlowColor: hsla(180, calc(var(--saturation-factor)*100%), 89%, calc(0.2 * var(--glowIntensity)));     /* Glow colour for muted channels.            Default: slate    */
}

/* Chat content text glow */
.markup-eYLPri {
    text-shadow:
        2px 0 10px var(--mainGlowColor),
        -2px 0 10px var(--mainGlowColor);
}

/* No glow on:
Reply message preview
(edited)
Code blocks and inline
Timestamps
Thread preview
*/
.repliedTextContent-2hOYMB.markup-eYLPri,
.edited-1v5nT8,
.markup-eYLPri code.hljs,
.markup-eYLPri code.inline,
.timestamp-2qj4__,
.timestamp-p1Df1m,
.timestampInline-_lS3aK,
.threadMessageAccessoryPreview-13YRmc .markup-eYLPri{
    text-shadow: none;
}

/* Channel and user pings, hyperlinks */
.theme-dark .mention, 
.markup-eYLPri a {
    text-shadow: 0 0 calc(20px * var(--glowIntensity));
}
/* Role pings, pin/join/thread alert messages, selected text */
.theme-dark .mention.roleMention-11Aaqi,
.content-vSHmMD,
::selection {
    text-shadow: 0 0 calc(10px * var(--glowIntensity));
}

/* allows channel and users glow to not clip */
.overflow-1wOqNV,
.channelName-3KPsGw,
.name-3BUDLf,
.mainContent-uDGa6R,
.container-q97qHp,
.zalgo-26OfGz.cozy-VmLDNB .header-2jRmjb,
.username-h_Y3Us,
/* and chat content */
.zalgo-26OfGz .messageContent-2t3eCI {
    overflow: visible;
}

/* Member list usernames with role colours */
.roleColor-nA7BqX {
    --glowSize: 0 0 calc(5px * var(--glowIntensity));
    text-shadow: var(--glowSize);
}
/* Special overrides */
/* Superhot Team */
span[style="color: rgb(196, 0, 0);"] {
    --SHTeamGlowColor: rgba(255,0,0,0.5);
    text-shadow: var(--glowSize) var(--SHTeamGlowColor);
}
/* SuperBOT */
span[style="color: rgb(1, 1, 1);"] {
    --SHMindsGlowColor: rgba(0,200,255,0.5);
    text-shadow: var(--glowSize) var(--SHMindsGlowColor), var(--glowSize) var(--mainGlowColor);
}

/* Status glow */
.wrapper-1VLyxH[aria-label*="Online"] {
    --statusGlowColor: hsla(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%, var(--glowIntensity));
}
.wrapper-1VLyxH[aria-label*="Do Not Disturb"] {
    --statusGlowColor: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%, var(--glowIntensity));
}
.wrapper-1VLyxH[aria-label*="Idle"] {
    --statusGlowColor: hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%, var(--glowIntensity));
}
.wrapper-1VLyxH[aria-label*="Streaming"] {
    --statusGlowColor: hsl(262, calc(var(--saturation-factor, 1) * 46.8%), 39.8%, var(--glowIntensity));
}
.wrapper-1VLyxH {
    box-shadow: 0 0 10px var(--statusGlowColor);
}

/* Boosts bar */
.progressBarContainer-1efroK {
    box-shadow: 0 0 10px var(--mainGlowColor);
}