/**
 * @name piOSRadialStatus (preconfigured for piOS)
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Changes the status icons to wrap around the avatar. Shape can be changed inside the theme file.
 * @source https://github.com/DiscordStyles/RadialStatus
 * @website https://www.gibbu.me
*/

@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");

:root {
  --rs-small-spacing: 0px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 0px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 0px; /* Gap between avatar and status for User profiles | MUST end in px */

  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

  --rs-avatar-shape: 0%; /* 50% for round - 0% for square */

  --rs-online-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%); /* Colour for online status */
  --rs-idle-color: hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%); /* Colour for idle status */
  --rs-dnd-color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%); /* Colour for dnd status */
  --rs-offline-color: hsl(214, calc(var(--saturation-factor, 1) * 9.9%), 50.4%); /* Colour for offline status */
  --rs-streaming-color: hsl(262, calc(var(--saturation-factor, 1) * 46.8%), 39.8%); /* Colour for streaming status */
  --rs-invisible-color: var(--rs-offline-color); /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */

  --rs-phone-visible: none; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
}