@use "../../border" as bd;

// ---- Channel sidebar ----
// Position dashes between channel groups
.containerDefault_a08117:not(:first-of-type)::before {
    content: "-------------------";
    margin-left: 5px;
    top: 0;
}

// Resize channel icons
.icon_d8bfb3 {
    width: 15px;
    height: 15px;
}

// Happening now events
.channelNotice_a6cd4e {
    @include bd.border(thin);
    margin: 0 8px;
    padding: 4px 8px 8px;
}

// Boost bar divider
.divider__0c76f {
    display: none;
}
