// ---- Members list ----
// Position dashes between member groups
.membersGroup_cbd271.container_cc72c1 {
    position: relative;
}

.membersGroup_cbd271.container_cc72c1:not(:first-of-type) > span:last-child::before {
    content: "-----------------";
    display: block;
    font-weight: 9;
    top: 8px;
}
