// ---- Members list ----
// Position dashes between member groups
:is(.membersGroup-2eiWxl, .membersGroup-2YoqY-).container-q97qHp {
    position: relative;
}

:is(.membersGroup-2eiWxl, .membersGroup-2YoqY-).container-q97qHp:not(:first-of-type) > span:last-child::before {
    content: "-----------------";
    display: block;
    font-weight: 9;
    top: 8px;
}
