@use "../../vars" as *;
@use "../../hsla";

// ---- Servers sidebar ----
// Unread server/channel dot
.unread_d8bfb3,
.item_fd07a3 {
    background-color: $accent-color;
}

// "New" bubble in servers sidebar
.mention_c10249 {
    background-color: $accent-color;
}

// Switch to DMs button
.wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15,
.wrapper__8436d:hover .childWrapper_a6ce15 {
    background-color: hsla.default($accent-hue, 0.7);
}

// Add a server / explore public servers button
.circleIconButton_db6521 {
    color: $accent-color;
}

.circleIconButton_db6521.selected_db6521 {
    background-color: hsla.default($accent-hue, 0.7);
}

// Notification count badge
.lowerBadge_c5f96a {
    @at-root .numberBadge_df8943 {
        padding-left: 2px;
        padding-top: 0.5px;
    }
}
