@use "../../top/vars" as *;
@use "../../top/hsla";

// ---- Servers sidebar ----
// Unread server/channel dot
.unread__48cf4,
.item_f9d377 {
    background-color: $accent-color;
}

// "New" bubble in servers sidebar
.mention__1afd3 {
    background-color: $accent-color;
}

// Switch to DMs button
.wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c,
.wrapper_d281dd:hover .childWrapper__01b9c {
    background-color: hsla.default($accent-hue, 0.7);
}

// Add a server / explore public servers button
.circleIconButton_d8df29 {
    color: $accent-color;
}

.circleIconButton_d8df29.selected__5250e {
    background-color: hsla.default($accent-hue, 0.7);
}
