@use "../../top/vars" as *;
@use "../../top/hsla";

// ---- Servers sidebar ----
// Unread server/channel dot
.unread-36eUEm,
.item-2LIpTv {
    background-color: $accent-color;
}

// "New" bubble in servers sidebar
.mention-3XBnnZ {
    background-color: $accent-color;
}

// Switch to DMs button
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: hsla.default($accent-hue, 0.7);
}

// Add a server / explore public servers button
.circleIconButton-1VxDrg {
    color: $accent-color;
}

.circleIconButton-1VxDrg.selected-2r1Hvo {
    background-color: hsla.default($accent-hue, 0.7);
}
