/**
 * @name piOS Popover Boxes
 * @author Saltssaumure#7557
 * @description Popover boxes section of piOS Discord Theme. Please download the autoupdater from https://github.com/Saltssaumure/pios-discord-theme/releases/tag/latest!
 * @version 1
*/

/* Popovers */
.contentWrapper-3vHNP2,                 /* Emoji/gif selector (from message box)*/
#emoji-picker-tab-panel[role="dialog"], /* Emoji picker for reactions */
.userPopout-2j1gM4,                     /* User profile popovers */
.profileBannerPreview-3mLIdO,           /* User profile preview (not a popover but same as above) */
.messagesPopoutWrap-3zryHW,             /* Pinned messages */
.container-2ebMPP,                      /* Inbox */
.container-18GwIk:not(.browser-SOGsFd), /* Threads (not modal) */
.pictureInPictureVideo-2puO2Q           /* Stream picture-in-picture */ {
    border: solid var(--borderBrightColor);
    border-width: var(--thickBorder);
}

/* ---- Tooltips ---- */
.tooltip-14MtrL,
.tooltip-1T4pLi {
    border: solid var(--borderBrightColor);
    border-width: var(--thinBorder);
}
    /* Arrow towards tooltip source */
    .tooltipPointer-3L49xb,
    .tooltipPointer-r3VntW {
        display: none;
    }
/* "Verified" connection tooltip */
.theme-dark .tooltipBrand-20XsMA,
.theme-light .tooltipBrand-20XsMA {
    background-color: var(--piOSblack);
}

/* ---- Toasts ---- */
/* Link copied toast */
.toast-q3Y4wI {
    border: solid var(--borderBrightColor);
    border-width: var(--thinBorder);
}

/* ---- New user popover ---- */
.popoutContainer-2wbmiM {
    border: solid var(--borderBrightColor);
    border-width: var(--thinBorder);
}

/* ---- User profile popover ---- */
/* User profile picture */
.wrapper-1VLyxH {
    border-width: 0;
}
/* View profile hint */
.avatarHint-k7pYop {
    top: 0;
    left: 0;
}
/* about me ```code``` from inline to block */
.aboutMeBody-1J8rhz code.inline {
    display: block;
    margin: 0;
    margin-bottom: -1.2em;
}
/* User roles */
.role-2TIOKu {
    border-style: solid;
    border-width: var(--thinBorder);
}

/* ---- Typing channel/user/command/etc. autocomplete popover ---- */
.theme-dark .autocomplete-3NRXG8 {
    background: var(--piOSblack);
    border: solid var(--borderColor);
    border-width: var(--thinBorder);
}

/* ---- Emoji selector popover ---- */
/* Selected/hovered emojis */
.emojiItem-277VFM.emojiItemSelected-2Lg50V {
    background: var(--background-modifier-selected);
}
/* Skin tone selector for emojis */
.diversitySelectorOptions-3DhNYs {
    border: solid var(--borderColor);
    border-width: var(--thinBorder);
}
/* blurs out emojis and stickers that require nitro when no nitro is active */
.emojiItemDisabled-3VVnwp,
.stickerUnsendable-PkQAxI {
    filter: blur(1px) grayscale(100%) opacity(40%);
}

/* ---- Message options popover ---- */
/* Hovered normal option */
.colorDefault-CDqZdO.focused-3qFvc8 {
    background-color: var(--background-modifier-hover);
}
/* Hovered danger option */
.colorDanger-3n-KnP.focused-3qFvc8 {
    background-color: var(--background-modifier-active);
}
/* Clicked option */
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
    background-color: var(--background-modifier-active);
}

/* ---- Voice noise suppression popover ---- */
.noiseCancellationPopout-2-e5Xz {
    border: solid var(--borderColor);
    border-width: var(--thinBorder);
}

/* ---- Channel Permissions plugin popover ---- */
.popout-TdhJ6Z,
.container-8Futzw {
    border: solid var(--borderColor);
    border-width: var(--thinBorder);
}
.container-8Futzw .FarcradaChannelTooltipClass {
    margin-top: 8px!important;
}

/* ---- Threads popover ---- */
/* Thread container */
.container-2rzKKA,
.container-2rzKKA:hover {
    border: solid var(--borderColor);
    border-width: var(--thinBorder);
}