/**
 * @name piOS Search Boxes
 * @author Saltssaumure#7557
 * @description Search boxes section of piOS Discord Theme. Please download the autoupdater from https://github.com/Saltssaumure/pios-discord-theme/releases/tag/latest!
 * @version 1
*/

/* Search bar filters */
.theme-dark .searchFilter-2UfsDk {
    background-color: var(--background-modifier-active);
}
.theme-dark .searchAnswer-23w-CH {
    background-color: var(--background-modifier-selected);
}

/* Search suggestion box */
.theme-dark .container-2McqkF {
    background: var(--piOSblack);
    border: solid var(--borderBrightColor);
    border-width: var(--thinBorder);
}

/* Calendar date selector */
.theme-dark .calendarPicker-sDhzdi .react-datepicker,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__header,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--previous,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day--disabled,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day--outside-month,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: var(--piOSblack);
    color: var(--piOSgrey);
}
.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--keyboard-selected,
.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:hover,
.calendarPicker-sDhzdi .react-datepicker__day:hover {
    background-color: var(--background-modifier-hover);
}
/* current day underbar*/
.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:after {
    background: var(--background-accent);
}
/* Last row and column borders */
.theme-dark .calendarPicker-sDhzdi .react-datepicker__week .react-datepicker__day:last-of-type {
    border-right-color: var(--borderColor);
}
.theme-dark .calendarPicker-sDhzdi .react-datepicker__week:last-of-type .react-datepicker__day {
    border-bottom-color: var(--borderColor);
}
/* Next/previous month buttons */
.theme-dark .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--next,
.theme-dark .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--previous {
    border-color: var(--borderColor);
}