@use "modal/changeusername";
@use "modal/deletemessage";
@use "modal/event";
@use "modal/imageupload";
@use "modal/invitefriends";
@use "modal/phonenumber";
@use "modal/uploadfile";

// Modals
.theme-dark .root-1CAIjD {
    border: solid var(--borderBrightColor);
    border-width: var(--thickBorder);
    background-color: var(--piOSblack);
    box-shadow: 0 0 30px 0 var(--piOSgrey);
}

// Footer
.theme-dark .footer-IubaaS {
    background-color: var(--piOSblack);
    box-shadow: none;
    border-top: 2px dashed var(--borderColor);
}
