@use "../vars" as *;
@use "../border" as bd;
@use "../hsla";

// Main chat section
.chatContent_f087cb {
    @include bd.border(thick);
}

// "Jump to present", "New messages since", "Messages failed to load" bars
.jumpToPresentBar__69174,
.newMessagesBar__8b272,
.messagesErrorBar__82c21 {
    background-color: $accent-color;
    opacity: 0.9;
}

// Messages allow overflow in case of oversize embeds
.message__15d84,
.message__04a5b {
    overflow: visible;
}

// Message react/reply etc buttons
.wrapper__4e6b6 {
    @include bd.border(thin);
}

// Pin icon for pin alerts
.iconContainer_d0200f {
    padding: 0.1rem;
}

// Reply/thread pipe
.repliedMessage__636d2:before,
.cozy_f5c119.hasThread__44ae4:after {
    border-left-width: 3px;
    border-top-width: 1px;
}

.cozy_f5c119.hasThread__44ae4:after {
    border-bottom-width: 1px;
}

// piOS style message boxes in compact mode
.compact_eda3c8.wrapper_a62503 {
    @include bd.border(thin);
    margin: calc(var(--pios-spacing) * 1.5rem) 3rem;
    padding: 1rem 1rem 0.5rem 1rem;
    padding-right: 1rem !important;
}

// Remove box if system message eg. pin
.compact_eda3c8.wrapper_a62503.systemMessage_fced96 {
    border: 0;
}

// Message info
.compact_eda3c8 .header__6a14d {
    position: absolute;
    top: -1.6rem;
    display: flex;
    flex-direction: row-reverse;
    background: linear-gradient(transparent, $background-color 40%, transparent 60%);
}

.compact_eda3c8 .header__6a14d > span {
    display: block;
}

// Hides timestamps for the same time as previous message
.compact_eda3c8 .timestampVisibleOnHover__1679f {
    width: 0;
    color: transparent;
}

// Badges from ShowBadgesInChat https://github.com/mwittrien/BetterDiscordAddons/tree/master/Plugins/ShowBadgesInChat///
.compact_eda3c8 .badgesChat-f_cbR8 {
    top: 0;
}

// Corrects alignment of username when badges are present
.compact_eda3c8 .username__0b0e7 {
    vertical-align: top;
}

// Special message left bar
.automodMessage__43f24:before,
.ephemeral_eb5d84:before,
.mentioned_fa6fd2:before,
.replying__38514:before {
    width: 3px;
}

// Reply
// Post username and timestamp
.compact_eda3c8.hasReply__602e2 .header__6a14d,
.compact_eda3c8 .repliedMessage__636d2 + .contents_d3ae0d .header__6a14d {
    top: -2.7rem;
}

// Replied content
.compact_eda3c8 .repliedMessage__636d2 {
    margin-left: 0;
    padding-left: 0;
    top: -2px;
}

.executedCommand__4fb1a,
.threadMessageAccessory_ef0459 {
    height: auto;
}

.compact_eda3c8 .repliedMessage__636d2 .timestamp_c79dd2 {
    line-height: 1rem;
    height: auto;
}

// Replied elbow
.compact_eda3c8 .repliedMessage__636d2::before {
    display: none;
}

// Icons inside replied content
.compact_eda3c8 .repliedMessage__636d2 .repliedTextContentIcon_da8b30,
.compact_eda3c8 .repliedMessage__636d2 .badgesChat-f_cbR8 img,
.compact_eda3c8 .repliedMessage__636d2 .ownerIcon_bd8e7d,
.compact_eda3c8 .repliedMessage__636d2 .emoji {
    width: 1rem;
    height: 1rem;
}

// message react/reply etc buttons
.compact_eda3c8 .container__2f489 {
    top: -16px;
}

// Message contents
.compact_eda3c8 .contents_d3ae0d {
    margin: 0;
    padding-left: 0;
    text-indent: 0;
}

// Block quote starter
.blockquoteContainer__66aaa .blockquoteDivider__5cbad {
    width: 3px;
}

// Embeds
.embedFull__14919.markup_a7e664,
// most embeds
.appMount_c99875 .wrapperAudio__178e9,
// audio
.attachment__06ca3,
// file
.wrapper__8a5dd,
// invite
.footer__90194 // code/text
{
    background: $embed-color;
    border: 0;
    text-shadow: none;
}

.grid__35551 {
    padding: 12px 18px;
}

.embedMargin__99b82 {
    margin-top: 0;
}

// Video embed
// Video metadata
.metadata__7bef0 {
    backdrop-filter: blur(3px);
}

// play buttons on video
.wrapper_fc4faf {
    padding: 12px;
}

// timeline slider
.mediaBarProgress_a3b7f1,
.mediaBarProgress_a3b7f1:after,
.mediaBarProgress_a3b7f1:before {
    background: $accent-color;
}

// timeline slider knob
.mediaBarGrabber__1d527,
.mediaBarInteraction_e21234:hover .mediaBarGrabber__1d527,
.mediaBarInteractionDragging__55800 .mediaBarGrabber__1d527 {
    background: $bright-color;
}

// Reacts you have added
.reaction_ef7e09,
.reaction_ef7e09:hover {
    @include bd.border(thin);
}

.reaction_ef7e09.reactionMe__9fc5c {
    border-color: $accent-color;
    background-color: hsla.default($accent-hue, 0.3);
}

// Thread from message
// Thread spine
// Upper
.compact_eda3c8.hasThread__44ae4 .contents_d3ae0d::before {
    display: none;
}

// Lower
.spine_d081ec {
    top: 0.15rem;
    left: 0rem;
    z-index: -1;
    border-bottom-width: 1px;
    border-left-width: 3px;
}

// Thread info
.container__17159 {
    background-color: hsla.default($accent-hue, 0.2);
}

.compact_eda3c8 .container__17159 {
    position: relative;
    left: 2.5rem;
}

// Typing box
.channelTextArea__648e5 {
    @include bd.border(thick);
}

.scrollableContainer_ff917f {
    min-height: 60px;
}

// "Replying to" bar
.attachedBars_c1606a {
    background: transparent;
    border-bottom: 2px dashed $border-color-normal;
}

// @on button
.mentionButton__73096 {
    color: $accent-color;
}

// Uploading files bar
.upload_c98ecb {
    background-color: $embed-color;
}

// Command suggestions bar
.appMount_c99875 .selected-3H3-RC,
.appMount_c99875 .option__2b069 {
    background-color: hsla.default($accent-hue, 0.3);
}

// follow to get this channel's updates in your server add dotted topline
.form_d8a4a1 .wrapper__57349 {
    border-top: 2px dashed $border-color-normal;
    margin-top: 0;
}

// Forums
.appMount_c99875 .container_b92032 {
    background: $background-color;
}

// Post title
.card__691f2 .headerText__0e18a {
    --text-muted: #{$bright-color};
}

// Post message preview
.card__691f2 .markup_a7e664 {
    text-shadow: none;
}

// Browse channels
.appMount_c99875 .container__03ec9,
.appMount_c99875 .header__71942,
.appMount_c99875 .container__6b2e5 {
    background: $background-color;
}

// Poll
.pollContainer_cfb8c7 {
    @include bd.border(thin);
    background: $background-color;

    // Answer
    @at-root .answer__07489 {
        // Default
        &.normalStylesDefault__1c2f5 {
            --custom-poll-style-vote-percentage: #{$embed-color};
            --custom-poll-style-border: #{$embed-color};
        }

        // Voted
        &.votedStyles__57019,
        // Winner
        &.victorStyles_ad1336 {
            --custom-poll-style-vote-percentage: #{$accent-color};
            --custom-poll-style-border: #{$accent-color};
            path {
                fill: $accent-color;
            }
        }

        .answerInner_b97752 {
            @include bd.border(thin);
            background: transparent;

            &.currentlyVoting__54b47.selected__93ede {
                --control-brand-foreground: #{$accent-color};
            }
        }
    }
}
