@use "../vars" as *;
@use "../border" as bd;
@use "../hsla";

// Main chat section
.chatContent_a7d72e {
    @include bd.border(thick);
}

// "Jump to present", "New messages since", "Messages failed to load" bars
.jumpToPresentBar_cf58b5,
.newMessagesBar_cf58b5,
.messagesErrorBar_cf58b5 {
    background-color: $accent-color;
    opacity: 0.9;
}

// Messages allow overflow in case of oversize embeds
.message_c06487,
.message_ddb5b4 {
    overflow: visible;
}

// Message react/reply etc buttons
.wrapper_ef319f {
    @include bd.border(thin);
}

// Pin icon for pin alerts
.iconContainer_e62b38 {
    padding: 0.1rem;
}

// Reply/thread pipe
.repliedMessage_f9f2ca:before,
.cozy_f9f2ca.hasThread_f9f2ca:after {
    border-left-width: 3px;
    border-top-width: 1px;
}

.cozy_f9f2ca.hasThread_f9f2ca:after {
    border-bottom-width: 1px;
}

// piOS style message boxes in compact mode
.compact_f9f2ca.wrapper_f9f2ca {
    @include bd.border(thin);
    margin: calc(var(--pios-spacing) * 1.5rem) 3rem;
    padding: 1rem 1rem 0.5rem 1rem;
    padding-right: 1rem !important;
}

// Remove box if system message eg. pin
.compact_f9f2ca.wrapper_f9f2ca.systemMessage_d5deea {
    border: 0;
}

// Message info
.compact_f9f2ca .header_f9f2ca {
    position: absolute;
    top: -1.6rem;
    display: flex;
    flex-direction: row-reverse;
    background: linear-gradient(transparent, $background-color 40%, transparent 60%);
}

.compact_f9f2ca .header_f9f2ca > span {
    display: block;
}

// Hides timestamps for the same time as previous message
.compact_f9f2ca .timestampVisibleOnHover_f9f2ca {
    width: 0;
    color: transparent;
}

// Badges from ShowBadgesInChat https://github.com/mwittrien/BetterDiscordAddons/tree/master/Plugins/ShowBadgesInChat///
.compact_f9f2ca .badgesChat-f_cbR8 {
    top: 0;
}

// Corrects alignment of username when badges are present
.compact_f9f2ca .username_f9f2ca {
    vertical-align: top;
}

// Special message left bar
.automodMessage_d5deea:before,
.ephemeral_d5deea:before,
.mentioned_d5deea:before,
.replying_d5deea:before {
    width: 3px;
}

// Reply
// Post username and timestamp
.compact_f9f2ca.hasReply_f9f2ca .header_f9f2ca,
.compact_f9f2ca .repliedMessage_f9f2ca + .contents_f9f2ca .header_f9f2ca {
    top: -2.7rem;
}

// Replied content
.compact_f9f2ca .repliedMessage_f9f2ca {
    margin-left: 0;
    padding-left: 0;
    top: -2px;
}

.executedCommand_f9f2ca,
.threadMessageAccessory_f9f2ca {
    height: auto;
}

.compact_f9f2ca .repliedMessage_f9f2ca .timestamp_f9f2ca {
    line-height: 1rem;
    height: auto;
}

// Replied elbow
.compact_f9f2ca .repliedMessage_f9f2ca::before {
    display: none;
}

// Icons inside replied content
.compact_f9f2ca .repliedMessage_f9f2ca .repliedTextContentIcon_da8b30,
.compact_f9f2ca .repliedMessage_f9f2ca .badgesChat-f_cbR8 img,
.compact_f9f2ca .repliedMessage_f9f2ca .ownerIcon_a31c43,
.compact_f9f2ca .repliedMessage_f9f2ca .emoji {
    width: 1rem;
    height: 1rem;
}

// message react/reply etc buttons
.compact_f9f2ca .container_a3b500 {
    top: -16px;
}

// Message contents
.compact_f9f2ca .contents_f9f2ca {
    margin: 0;
    padding-left: 0;
    text-indent: 0;
}

// Block quote starter
.blockquoteContainer_f8f345 .blockquoteDivider_f8f345 {
    width: 3px;
}

// Embeds
.embedFull_ad0b71.markup_f8f345,
// most embeds
.appMount_ea7e65 .wrapperAudio_f316dd,
// audio
.attachment_a4623d,
// file
.wrapper_b9fe76,
// invite
.footer_ad9cbd // code/text
{
    background: $embed-color;
    border: 0;
    text-shadow: none;
}

.grid_ad0b71 {
    padding: 12px 18px;
}

.embedMargin_ad0b71 {
    margin-top: 0;
}

// Video embed
// Video metadata
.metadata__7bef0 {
    backdrop-filter: blur(3px);
}

// play buttons on video
.wrapper_c8da25 {
    padding: 12px;
}

// timeline slider
.mediaBarProgress_f7877e,
.mediaBarProgress_f7877e:after,
.mediaBarProgress_f7877e:before {
    background: $accent-color;
}

// timeline slider knob
.mediaBarGrabber_f7877e,
.mediaBarInteraction_f7877e:hover .mediaBarGrabber_f7877e,
.mediaBarInteractionDragging_f7877e .mediaBarGrabber_f7877e {
    background: $bright-color;
}

// Reacts you have added
:is(.reaction_ec6b19, .reaction_f61c73) {
    :is(&, &:hover) {
        @include bd.border(thin);
        background: transparent;

        &:is(.reactionMe_ec6b19, .reactionMe_f61c73) {
            border-color: $accent-color;
            background-color: hsla.default($accent-hue, 0.3);
        }
    }
}

// Mention
.wrapper_bf1b19 {
    background: hsla.default($accent-hue, 0.3);
    color: $bright-color;

    &.interactive:hover {
        background: hsla.default($accent-hue, 0.5);
    }
}

// Thread from message
// Thread spine
// Upper
.compact_f9f2ca.hasThread_f9f2ca .contents_f9f2ca::before {
    display: none;
}

// Lower
.spine_c15230 {
    top: 0.15rem;
    left: 0rem;
    z-index: -1;
    border-bottom-width: 1px;
    border-left-width: 3px;
}

// Thread info
.container_c15230 {
    background-color: hsla.default($accent-hue, 0.2);
}

.compact_f9f2ca .container_c15230 {
    position: relative;
    left: 2.5rem;
}

// Typing box
.channelTextArea_d0696b {
    @include bd.border(thick);
}

.scrollableContainer_d0696b {
    min-height: 60px;
}

// "Replying to" bar
.attachedBars_d0696b {
    background: transparent;
    border-bottom: 2px dashed $border-color-normal;
}

// @on button
.mentionButton_b11c5e {
    color: $accent-color;
}

// Uploading files bar
.upload_df1eaf {
    background-color: $embed-color;
}

// Command suggestions bar
.appMount_ea7e65 .selected-3H3-RC,
.appMount_ea7e65 .option_bea3ee {
    background-color: hsla.default($accent-hue, 0.3);
}

// follow to get this channel's updates in your server add dotted topline
.form_a7d72e .wrapper_faf5ab {
    border-top: 2px dashed $border-color-normal;
    margin-top: 0;
}

// Forums
.appMount_ea7e65 .container_a6d69a {
    background: $background-color;
}

// Post title
.card_a6d69a .headerText_d331f1 {
    --text-muted: #{$bright-color};
}

// Post message preview
.card_a6d69a .markup_f8f345 {
    text-shadow: none;
}

// Browse channels
.appMount_ea7e65 .container_f1fd9c,
.appMount_ea7e65 .header_f1fd9c,
.appMount_ea7e65 .container_c2efea {
    background: $background-color;
}

// Poll
.pollContainer_b558d0 {
    @include bd.border(thin);
    background: $background-color;

    // Answer
    @at-root .answer_cf2c85 {
        // Default
        &.normalStylesDefault_b5cb3c {
            --custom-poll-style-vote-percentage: #{$embed-color};
            --custom-poll-style-border: #{$embed-color};
        }

        // Voted
        &.votedStyles_b5cb3c,
        // Winner
        &.victorStyles_b5cb3c {
            --custom-poll-style-vote-percentage: #{$accent-color};
            --custom-poll-style-border: #{$accent-color};
            path {
                fill: $accent-color;
            }
        }

        .answerInner_cf2c85 {
            @include bd.border(thin);
            background: transparent;

            &.currentlyVoting_cf2c85.selected_cf2c85 {
                --control-brand-foreground: #{$accent-color};
            }
        }
    }
}
