@use "../top/vars" as *;
@use "../top/border" as bd;
@use "../top/hsla";

// ---- Explore public servers ----

// Background
.appMount_fae9dd .pageWrapper_fef757 {
    background-color: $background-color;
    @include bd.border(thick);
}

// Search results searchbox
.appMount_fae9dd .searchBox_a63854 {
    background-color: hsla.default($accent-hue, 0.2);
    backdrop-filter: brightness(0);
}

.searchBox_a63854:focus,
.searchBox_a63854:focus-within {
    border-color: transparent;
}

// Selected category
.categoryItem_b1be5c.selectedCategoryItem__0bf4c .itemInner__9e755 {
    background-color: hsla.default($accent-hue, 0.3);
}

// Search category searchbox
.search_e47903 .searchBox__88a98:focus,
.search_e47903 .searchBox__88a98:focus-within {
    box-shadow: none;
}

.search_e47903 .searchBox__88a98 .searchBoxInput__73c9c {
    color: $bright-color;
}

// Clear searchbox icon
.clearIcon__91449,
.search_e47903 .searchBox__88a98 .closeIcon__3dfb5 {
    color: $dim-color;
}

.clearIcon__91449:hover,
.search_e47903 .searchBox__88a98 .closeIcon__3dfb5:hover {
    color: $middle-color;
}

// Language dropdown
.lookFilled__3dba3.select__0eb48 {
    border-color: transparent;
    color: $dim-color;
}

.popout_a6e77f {
    @include bd.border(thin);
}

// Server card
.card__86773,
.card__33bd0 {
    @include bd.border(thin);
}

// Separators in search results
.separator_f527c9 {
    display: none;
}

// Student hub icon
.iconContainer__004ce {
    background-color: hsla.default($accent-hue, 0.7);
}
