@use "../border" as bd;
@use "../hsla";
@use "../vars" as *;

// Forums
.container_a6d69a {
    @include bd.border(thick);

    // Forum post
    @at-root .mainCard_a6d69a {
        @include bd.border(thin);
        background: transparent;

        &:hover {
            transform: none;
        }

        // Text post footer
        .textContentFooter_a57509 {
            background: linear-gradient(transparent, $background-color);
        }

        // Make new post
        // Image container
        @at-root .container_a15d29,
            .popout_a15d29 {
            @include bd.border(thin, bright);

            @at-root .badge_a15d29 {
                background: $accent-color;
                border: none;
            }
        }
        // Post text area
        .channelTextArea_d0696b {
            border: none;
        }
    }

    // Search result count row
    @at-root .matchingPostsRow_a6d69a {
        background: transparent;
    }

    // Post guildelines
    .container_ddbb27 {
        @include bd.border(thin);
    }

    // Tags
    @at-root .tagsContainer_a6d69a {
        align-items: flex-start;

        // Tags list
        // Expand on hover
        @at-root .tagList_a6d69a {
            height: unset;
            max-height: 32px;
            transition: max-height 0.2s ease;
            &:hover,
            &:has(.selected_c993da) {
                max-height: 128px;
            }

            // Tags
            @at-root .pill_c993da.pill_c993da {
                @include bd.border(thin);
                background: $background-color;

                &.selected_c993da {
                    border-color: $accent-color;
                    background-color: hsla.default($accent-hue, 0.3);
                    --background-tertiary: #{hsla.default($accent-hue, 0.3)};
                }
            }

            // // Hoist selected tag to top
            // .tag_a6d69a.selected_c993da {
            //     order: -1;
            // }
        }

        // "See all tags" dropdown
        @at-root .tagsButton_a6d69a {
            position: static;

            @at-root .countContainer_a6d69a,
                .countContainer_ae4f46 {
                background: $accent-color;
            }
        }

        // "See more tags" dropdown that currently does nothing
        @at-root .tagsButtonPlaceholder_a6d69a {
            display: none;
        }
    }
}

// Scroller in opened forum post, make actions bar actually sticky
.scrollerInner_e2e187 {
    overflow: unset;

    // Actions bar
    @at-root .container_b385c8 {
        @at-root :is(.addReactButton_b385c8, .buttonInner_b385c8) {
            @include bd.border(thin);
            &:hover {
                border-color: $dim-color;
            }

            &:is(.active_f61c73, .active_b385c8) {
                border-color: $accent-color;
                background-color: hsla.default($accent-hue, 0.3);

                &:is(:hover, :active) {
                    color: $accent-color;

                    .icon_f61c73 {
                        color: inherit;
                    }
                }
            }
        }
    }
}

// Message highlight (???)
.card_d4f6c7,
.card_d4f6c7:hover {
    @include bd.border(thin);
}
