@use "../vars" as *;
@use "../border" as bd;
@use "../hsla";

// Values slider
.appMount_ea7e65 .bar_c7a159,
.appMount_ea7e65 .markDash_c7a159 {
    background-color: $dim-color;
}

.barFill_c7a159 {
    background: $accent-color;
}

// Check/uncheck slider toggle
.container_cebd1c.checked_cebd1c {
    background-color: hsla.default($accent-hue, 0.7) !important;
    color: hsla.default($accent-hue, 0.7);
}

.container_cebd1c {
    background-color: $dim-color !important;
    color: $dim-color;
}

.slider_cebd1c svg path {
    fill: currentColor !important;
}

// Discord key redemption
.appMount_ea7e65 .codeRedemptionRedirect_cb70f4 {
    background-color: hsla.default($accent-hue, 0.2);
    border-color: $accent-color;
}

// Default payment method
.appMount_ea7e65 .defaultIndicator_ede133 {
    background: $accent-color;
}

// Authorised apps
.authedApp_f0135d {
    @include bd.border(thin);
}

// Connections
.connection_e2a436 {
    @include bd.border(thin);
}

// Discord nitro settings tab
.selectedBackground_ae3c77 {
    background: hsla.default($accent-hue, 0.2);
}

// Voice and video
// Video background
.backgroundOptionRing_ad7d79 {
    border: solid $accent-color;
    @include bd.border(thin, $accent-color);
}

// Keybinds
.defaultKeybind_f916fc {
    height: auto;
}

.appMount_ea7e65 .key_c90023 {
    background-color: hsla.default($accent-hue, 0.3);
    box-shadow: inset 0 -4px 0 hsla.default($accent-hue, 0.2);
}

// Activity status
.overlayToggleIconOff-ps4gGp rect {
    fill: $accent-color;
}

// Remove game
.appMount_ea7e65 .default_a467ac {
    background-color: transparent;
    border: 1px solid hsla.default($accent-hue, 0.7);
}

// Game overlay
// Overlay notifications
.wrapper_d2da9c {
    @include bd.border(thin);
}

.wrapper_d2da9c.disabledSelected_d2da9c {
    @include bd.border(thin, $accent-color);
}

.option_d2da9c {
    background-color: $border-color-normal;
}

.selected_d2da9c.option_d2da9c {
    background-color: hsla.default($accent-hue, 0.7);
    border-color: $accent-color;
}

.option_d2da9c:hover {
    background-color: hsla.default($accent-hue, 0.2);
}

// Server settings

// Stickers
.tier_da77bd {
    @include bd.border(thin);
    padding: 0 16px 16px 0;
}

// Header
.appMount_ea7e65 .tierHeaderLocked_da77bd,
.appMount_ea7e65 .tierHeaderUnlocked_da77bd {
    background: transparent;
}

// Sticker placeholder
.placeholderCard_f8c5e7 {
    border-color: $dim-color;
}

// Locked tiers
.appMount_ea7e65 .tierBody_da77bd {
    background: transparent;
}

// App directory
.appMount_ea7e65 .directoryModal-YJsOMv {
    background: $background-color;
}

// App categories
.category_d7acc7:hover {
    background: hsla.default($accent-hue, 0.2);
}

.category_d7acc7:active {
    background: hsla.default($accent-hue, 0.7);
}

// App cards
.card_e90143,
.item_b4a57c,
.itemContainer_a8e652 {
    @include bd.border(thin);
}

.root_af6b5a {
    overflow: visible;
}

// Highlighted card
.linkCard_b4a57c {
    background: hsla.default($accent-hue, 0.2);
}
