@use "../vars" as *;
@use "../border" as bd;
@use "../hsla";

// Values slider
.appMount_c99875 .bar_e58961,
.appMount_c99875 .markDash__54545 {
    background-color: $dim-color;
}

.barFill__1f56b {
    background: $accent-color;
}

// Check/uncheck slider toggle
.container__2ed72.checked__36fdc {
    background-color: hsla.default($accent-hue, 0.7) !important;
    color: hsla.default($accent-hue, 0.7);
}

.container__2ed72 {
    background-color: $dim-color !important;
    color: $dim-color;
}

.slider__41d94 svg path {
    fill: currentColor !important;
}

// Discord key redemption
.appMount_c99875 .codeRedemptionRedirect_b3eca7 {
    background-color: hsla.default($accent-hue, 0.2);
    border-color: $accent-color;
}

// Default payment method
.appMount_c99875 .defaultIndicator_b89fc1 {
    background: $accent-color;
}

// Authorised apps
.authedApp__71a52 {
    @include bd.border(thin);
}

// Connections
.connection__6dbd8 {
    @include bd.border(thin);
}

// Discord nitro settings tab
.selectedBackground__4039b {
    background: hsla.default($accent-hue, 0.2);
}

// Voice and video
// Video background
.backgroundOptionRing__45698 {
    border: solid $accent-color;
    @include bd.border(thin, $accent-color);
}

// Keybinds
.defaultKeybind__48ba0 {
    height: auto;
}

.appMount_c99875 .key__6a8d9 {
    background-color: hsla.default($accent-hue, 0.3);
    box-shadow: inset 0 -4px 0 hsla.default($accent-hue, 0.2);
}

// Activity status
.overlayToggleIconOff-ps4gGp rect {
    fill: $accent-color;
}

// Remove game
.appMount_c99875 .default__23a5a {
    background-color: transparent;
    border: 1px solid hsla.default($accent-hue, 0.7);
}

// Game overlay
// Overlay notifications
.wrapper__4b6b3 {
    @include bd.border(thin);
}

.wrapper__4b6b3.disabledSelected__7c065 {
    @include bd.border(thin, $accent-color);
}

.option__1d8de {
    background-color: $border-color-normal;
}

.selected__4e154.option__1d8de {
    background-color: hsla.default($accent-hue, 0.7);
    border-color: $accent-color;
}

.option__1d8de:hover {
    background-color: hsla.default($accent-hue, 0.2);
}

// Server settings

// Stickers
.tier_d16770 {
    @include bd.border(thin);
    padding: 0 16px 16px 0;
}

// Header
.appMount_c99875 .tierHeaderLocked__0ca2e,
.appMount_c99875 .tierHeaderUnlocked__960f7 {
    background: transparent;
}

// Sticker placeholder
.placeholderCard__393a9 {
    border-color: $dim-color;
}

// Locked tiers
.appMount_c99875 .tierBody_fd5f94 {
    background: transparent;
}

// App directory
.appMount_c99875 .directoryModal-YJsOMv {
    background: $background-color;
}

// App categories
.category_c3da1d:hover {
    background: hsla.default($accent-hue, 0.2);
}

.category_c3da1d:active {
    background: hsla.default($accent-hue, 0.7);
}

// App cards
.card__834d4,
.item_be93e4,
.itemContainer_e3f471 {
    @include bd.border(thin);
}

.root__07239 {
    overflow: visible;
}

// Highlighted card
.linkCard__6ed49 {
    background: hsla.default($accent-hue, 0.2);
}
