@use "../top/vars" as *;
@use "../top/border" as bd;
@use "../top/hsla";

// BetterDiscord toasts
.bd-toasts {
    align-items: flex-end;
    right: 0;
}

.bd-toast {
    @include bd.border(thin);
    margin-right: 24px;
    background-color: $background-color, 0.3;
}

.bd-toast.toast-success {
    background-color: hsla.default($accent-hue, 0.7);
}

// Error modal
.bd-error-modal-header {
    padding: 16px;
}

// Custom CSS
#bd-editor-panel {
    @include bd.border(thin);
}

// Plugins and Themes
.bd-button,
.bd-addon-views .bd-view-button.selected {
    background-color: hsla.default($accent-hue, 0.3);
}

.bd-button:hover {
    background-color: hsla.default($accent-hue, 0.7);
}

.bd-button:active {
    background-color: $accent-color;
}

.bd-button.bd-button-danger,
.bd-button.bd-button-danger:hover,
.bd-button.bd-button-danger:active {
    background-color: $accent-color;
}

.bd-addon-card {
    @include bd.border(thin);
}

// Keep Custom CSS editor and code related parts untouched.
// Avoids issues when working with the Custom CSS editor.
#bd-customcss-detach-container.hljs,
#bd-customcss-detach-container.inline,
#bd-customcss-detach-container.hljs :-webkit-any(ol, li, span),
.editor-wrapper :-webkit-any(textarea, div, span) {
    font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
    text-transform: none;
    text-shadow: none;
}
